---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";
import CardBlog from "@components/CardBlog.astro";
import Arrows from "@icons/Arrows.astro";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("blog");
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, { pageSize: 5 });
}
const { page } = Astro.props as any;
---

<BaseLayout
  title="Edgar Delgado - Blog"
  sideBarActiveItemID="NOTES_ACTIVE_PAGE"
>
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5" id="Notes">
      <div class="text-3xl w-full font-black flex items-center">Blog</div>
    </div>
    {
      page.data.length === 0 ? (
        <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
          <p class="font-bold">Sorry!</p>
          <p>
            There are no blog posts to show at the moment. Check back later!
          </p>
        </div>
      ) : (
        <ul>
          {page.data.map((post) => (
            <>
              <CardBlog
                title={post.data.title}
                url={"/blog/" + createSlug(post.data.title, post.id)}
                img={post.data.heroImage}
                desc={post.data.description}
                target="_self"
                badge={post.data.badge}
                pubDate={post.data.pubDate}
                tags={post.data.tags}
              />
              {/* <div class="divider my-0" /> */}
            </>
          ))}
        </ul>
      )
    }

    <div class="divider mt-10"></div>
    <div class="grid grid-cols-2 gap-4 mt-5">
      {
        page.url.prev ? (
          <a
            href={page.url.prev}
            class="btn btn-ghost  min-h-24 justify-start text-left"
          >
            <Arrows direction="left" />
            Newer posts
          </a>
        ) : (
          <a href={"/"} class="btn btn-ghost  min-h-24 justify-start text-left">
            <Arrows direction="left" />
            Home
          </a>
        )
      }
      {
        page.url.next ? (
          <a
            href={page.url.next}
            class="btn btn-ghost min-h-24 justify-end text-right"
          >
            Older posts
            <Arrows direction="right" />
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </section>
</BaseLayout>
