---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import createSlug from "@ts-config-path/lib/createSlug";
import CardBlog from "@components/CardBlog.astro";
import Arrows from "@icons/Arrows.astro";

import { NAV_LINKS_PAGES } from "@styles/utilsCSS";
import Blog from "@icons/Blog.astro";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("blog");
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, { pageSize: 5 });
}

const { page } = Astro.props as any;
---

<BaseLayout title="Edgar Delgado - Blog" sideBarActiveItemID="NOTES_ACTIVE_PAGE">
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5" id="Notes">
      <div class="text-3xl w-full font-black flex items-center">
        <span class="w-7 mr-4">
          <Blog />
        </span>
        Blog</div
      >
    </div>

    {
      page.data.length === 0 ? (
        <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
          <p class="font-bold">Sorry!</p>
          <p>There are no blog posts to show at the moment. Check back later!</p>
        </div>
      ) : (
        <div class="mt-10">
          {page.data.map((post) => (
            <>
              <CardBlog
                title={post.data.title}
                url={"/blog/" + createSlug(post.data.title, post.id)}
                img={post.data.heroImage}
                desc={post.data.description}
                target="_self"
                badge={post.data.badge}
                pubDate={post.data.pubDate}
                tags={post.data.tags}
              />
            </>
          ))}
        </div>
      )
    }

    <div class="divider mt-10"></div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-5">
      {
        page.url.prev ? (
          <a class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.prevLeft}`} href={page.url.prev}>
            <span class={NAV_LINKS_PAGES.arrowSpan}>
              <Arrows direction="left" />
            </span>

            <div>
              <div class={NAV_LINKS_PAGES.prevNext}>NEWER POSTS</div>
              <div class={NAV_LINKS_PAGES.pageTitle}>Recent articles</div>
            </div>
          </a>
        ) : (
          <a class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.prevLeft}`} href={"/"}>
            <span class={NAV_LINKS_PAGES.arrowSpan}>
              <Arrows direction="left" />
            </span>

            <div>
              <div class={NAV_LINKS_PAGES.prevNext}>HOME</div>
              <div class={NAV_LINKS_PAGES.pageTitle}>Back to homepage</div>
            </div>
          </a>
        )
      }

      {
        page.url.next ? (
          <a class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.nextRight}`} href={page.url.next}>
            <div class="text-right">
              <div class={NAV_LINKS_PAGES.prevNext}>OLDER POSTS</div>
              <div class={NAV_LINKS_PAGES.pageTitle}>Earlier articles</div>
            </div>

            <span class={NAV_LINKS_PAGES.arrowSpan}>
              <Arrows direction="right" />
            </span>
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </section>
</BaseLayout>
