---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { type BlogSchema } from "../../content.config";
import PostLayout from "../../layouts/PostLayout.astro";
import createSlug from "@ts-config-path/lib/createSlug";
import Arrows from "@icons/Arrows.astro";

export async function getStaticPaths() {
  const postEntries = await getCollection("blog");

  const sorted = postEntries.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return sorted.map((entry, index) => {
    const slug = createSlug(entry.data.title, entry.id);

    const prev = sorted[index - 1] ?? null;
    const next = sorted[index + 1] ?? null;

    return {
      params: { slug },
      props: {
        entry,
        prevPost: prev
          ? {
              title: prev.data.title,
              slug: createSlug(prev.data.title, prev.id),
            }
          : null,
        nextPost: next
          ? {
              title: next.data.title,
              slug: createSlug(next.data.title, next.id),
            }
          : null,
      },
    };
  });
}

type NavBar = {
  title?: string | null;
  slug?: string | null;
};

interface Props {
  entry: CollectionEntry<"blog">;
  prevPost: NavBar;
  nextPost: NavBar;
}

const { entry, prevPost, nextPost } = Astro.props;
const post: BlogSchema = entry.data;
const { Content } = await render(entry);

import { NAV_LINKS_PAGES } from "@styles/utilsCSS";
---

<PostLayout
  title={post.title}
  description={post.description}
  pubDate={post.pubDate}
  updatedDate={post.updatedDate}
  badge={post.badge}
  tags={post.tags}
>
  <Content />

  <div class="divider mt-10"></div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-5">
    {
      prevPost ? (
        <a
          class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.prevLeft}`}
          href={"/blog/" + prevPost.slug}
        >
          <span class={NAV_LINKS_PAGES.arrowSpan}>
            <Arrows direction="left" />
          </span>

          <div>
            <div class={NAV_LINKS_PAGES.prevNext}>NEWER</div>
            <div class={NAV_LINKS_PAGES.pageTitle}>{prevPost.title}</div>
          </div>
        </a>
      ) : (
        <a class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.prevLeft}`} href={"/blog/"}>
          <span class={NAV_LINKS_PAGES.arrowSpan}>
            <Arrows direction="left" />
          </span>

          <div>
            <div class={NAV_LINKS_PAGES.prevNext}>NOTES</div>
            <div class={NAV_LINKS_PAGES.pageTitle}>Back to notes</div>
          </div>
        </a>
      )
    }

    {
      nextPost ? (
        <a
          class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.nextRight}`}
          href={"/blog/" + nextPost.slug}
        >
          <div class="text-right">
            <div class={NAV_LINKS_PAGES.prevNext}>OLDER</div>
            <div class={NAV_LINKS_PAGES.pageTitle}>{nextPost.title}</div>
          </div>

          <span class={NAV_LINKS_PAGES.arrowSpan}>
            <Arrows direction="right" />
          </span>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</PostLayout>
