---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { type FigurateSchema } from "../../content.config";
import createSlug from "@ts-config-path/lib/createSlug";
import DocsLayout from "@layouts/DocsLayout.astro";
import Arrows from "@icons/Arrows.astro";

import { NAV_LINKS_PAGES } from "@styles/utilsCSS";

export async function getStaticPaths() {
  const posts = await getCollection("figurate");

  const sorted = posts.sort((a, b) => a.data.order - b.data.order);

  return sorted.map((entry, index) => ({
    params: {
      slug: createSlug(entry.data.title, entry.id),
    },
    props: {
      entry,
      index,
      sorted,
    },
  }));
}

interface Props {
  entry: CollectionEntry<"figurate">;
  sorted: CollectionEntry<"figurate">[];
  index: number;
}

const { entry, index, sorted } = Astro.props;
const post: FigurateSchema = entry.data;
const { Content } = await render(entry);

const prevDoc = sorted[index - 1] ?? null;
const nextDoc = sorted[index + 1] ?? null;
---

<DocsLayout title={post.title} description={post.description}>
  <Content />

  <div class="divider mt-10"></div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-5">
    {
      prevDoc ? (
        <a
          class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.prevLeft}`}
          href={"/figuratenum/" + createSlug(prevDoc.data.title, prevDoc.id)}
        >
          <span class={NAV_LINKS_PAGES.arrowSpan}>
            <Arrows direction="left" />
          </span>

          <div>
            <div class={NAV_LINKS_PAGES.prevNext}>PREVIOUS</div>
            <div class={NAV_LINKS_PAGES.pageTitle}>{prevDoc.data.title}</div>
          </div>
        </a>
      ) : (
        <a class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.prevLeft}`} href="/figuratenum">
          <span class={NAV_LINKS_PAGES.arrowSpan}>
            <Arrows direction="left" />
          </span>

          <div>
            <div class={NAV_LINKS_PAGES.prevNext}>PREVIOUS</div>
            <div class={NAV_LINKS_PAGES.pageTitle}>FigurateNum</div>
          </div>
        </a>
      )
    }

    {
      nextDoc ? (
        <a
          class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.nextRight}`}
          href={"/figuratenum/" + createSlug(nextDoc.data.title, nextDoc.id)}
        >
          <div class="text-right">
            <div class={NAV_LINKS_PAGES.prevNext}>NEXT</div>
            <div class={NAV_LINKS_PAGES.pageTitle}>{nextDoc.data.title}</div>
          </div>

          <span class={NAV_LINKS_PAGES.arrowSpan}>
            <Arrows direction="right" />
          </span>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</DocsLayout>
