---
import BaseLayout from "../../layouts/en/BaseLayout.astro"

import Biography from "../../components/en/Biography.astro"
import IndexLinks from "@components/IndexLinks.astro"

import ProjectsComponent, {
  allProjects,
} from "../../components/en/ProjectsComponent.astro"
import Experience, {
  allExperiences,
} from "../../components/en/Experience.astro"
import ListOfSkills from "../../components/en/ListOfSkills.astro"
import Education from "../../components/en/Education.astro"
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-3 mt-5">
    <div class="text-3xl font-bold leading-snug text-primary py-0">
      Hi, I'm
      <strong>Edgar</strong>👋
    </div>
    <div class="py-1 font-bold text-secondary">Software Developer</div>

    <div class="py-2 mt-4">
      <Biography />
    </div>
    <IndexLinks contactText="Contact me" />

    <ProjectsComponent projects={allProjects} indices={[0, 2]} />
    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ListOfSkills />
    <Education />

    <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div> -->
    <!-- {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    } -->
  </div>
</BaseLayout>
