---
import BaseLayout from "../../layouts/en/BaseLayout.astro"

import Biography from "../../components/en/Biography.astro"
import ProjectsComponent, {
  allProjects,
} from "../../components/en/ProjectsComponent.astro"
import Experience, {
  allExperiences,
} from "../../components/en/Experience.astro"
import ListOfSkills from "../../components/en/ListOfSkills.astro"
import Education from "../../components/en/Education.astro"

import GitHub from "../../components/icons/GitHub.astro"
import Youtube from "../../components/icons/Youtube.astro"
import LinkedIn from "../../components/icons/LinkedIn.astro"

// import { getRelativeLocaleUrl } from "astro:i18n"
// <a
//   class="btn btn-square bg-red-500"
//   href={getRelativeLocaleUrl("en", "about")}
// >
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-3 mt-5">
    <div class="text-3xl font-bold leading-snug text-primary py-0">
      Hi, I'm
      <strong>Edgar</strong>👋
    </div>
    <div class="py-1 font-bold text-secondary">Software Developer</div>

    <div class="py-2 mt-4">
      <Biography />
    </div>
    <div class="mt-5 mb-10 flex justify-start gap-7 flex-wrap">
      <a
        class="btn btm-nav-xs"
        href="https://www.linkedin.com/in/edgararmandodelgadovega/"
        target="_blank"
      >
        <LinkedIn class="w-6" />
        Contact me
      </a>
      <a
        class="btn btn-circle"
        href="https://youtube.com/@edelvemusic"
        target="_blank"
      >
        <Youtube class="w-6" />
      </a>
      <a
        class="btn btn-circle"
        href="https://github.com/edelveart"
        target="_blank"
      >
        <GitHub class="w-6" />
      </a>
    </div>

    <ProjectsComponent projects={allProjects} indices={[0, 1]} />
    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ListOfSkills />
    <Education />

    <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div> -->
    <!-- {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    } -->
  </div>
</BaseLayout>
