---
import { allProjects } from "@components/ProjectsComponent.astro";
import { Image } from "astro:assets";

const divisor = "my-8";
const UrlArray = allProjects;

const cardDisplay = "aspect-[16/8]";
const imagePadding = "p-0";
const cardBase = `
  block relative w-full ${cardDisplay}
  overflow-hidden rounded-lg
  bg-base-100 ${imagePadding}
  shadow-sm shadow-primary/30
  transition duration-200 ease-in-out
  hover:shadow-primary/50
`;

const badge = "absolute top-0 left-0 m-4 badge badge-primary truncate z-10";
---

<!-- https://svgomg.net/  --><!-- https://vecta.io/nano -->
<div class={divisor}></div>
<a href={UrlArray[2].url} target="_blank" rel="noopener noreferrer" class={cardBase}>
  <div class={badge}>
    <span>FigurateNum | PyPI</span>
  </div>

  <Image
    class="w-full h-full object-cover"
    width={700}
    height={500}
    fetchpriority="high"
    loading="eager"
    src={"/svg-ggb/complex-figuratenum.webp"}
    alt="FigurateNumber - Phase Portrait"
  />
</a>

<div class={divisor}></div>

<section class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-8">
  <!-- // 1 -->
  <a href={UrlArray[1].url} target="_blank" rel="noopener noreferrer" class={cardBase}>
    <div class={badge}>
      <span>Modular Forms | RubyGems</span>
    </div>
    <Image
      class={`w-full h-full object-cover invert -hue-rotate-90`}
      width={700}
      height={500}
      fetchpriority="high"
      loading="eager"
      src="/svg-ggb/L-function-music-vecta-io.svg"
      alt="Math-Modular-Elliptic-Image"
    />
  </a>
  <!-- // 2 -->
  <a href={UrlArray[0].url} target="_blank" rel="noopener noreferrer" class={cardBase}>
    <div class={badge}>
      <span>TS-Tonnetz | npm</span>
    </div>
    <Image
      src="/svg-ggb/ts-tonnetz-2026-library.svg"
      alt="ts-tonnetz simplices portrait"
      class={`w-full h-full object-cover invert`}
      width={700}
      height={500}
      fetchpriority="high"
      loading="eager"
    />
    <img />
  </a>
</section>
