---
import { allProjects } from "@components/ProjectsComponent.astro";
import { Image } from "astro:assets";

const divisor = "my-6";
const UrlArray = allProjects;

const cardDisplay = "aspect-[16/8]";
const imagePadding = "p-0";
const cardBase = `
  block relative w-full ${cardDisplay}
  max-h-72 rounded-lg
  rounded-md
  ${imagePadding}
  border border-base-content/10
  shadow-sm shadow-black/5
  transition-colors duration-150 ease-in-out
  hover:border-primary/20
  hover:shadow-primary/20
`;

const badge =
  "absolute top-0 left-0 m-4 text-xs p-1 rounded-sm z-2  bg-base-100/80 text-primary/60";
---

<!-- https://svgomg.net/  --><!-- https://vecta.io/nano -->
<div class={divisor}></div>
<a href={UrlArray[2].url} target="_blank" rel="noopener noreferrer" class={cardBase}>
  <div class={badge}>
    <span>FigurateNum • PyPI</span>
  </div>

  <Image
    src="/svg-ggb/main-figuratenum.webp"
    class="w-full h-full object-cover"
    width={400}
    height={260}
    fetchpriority="high"
    loading="eager"
    alt="FigurateNumber - Phase Portrait"
  />
</a>

<div class={divisor}></div>

<section class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-8">
  <!-- // 1 -->
  <a href={UrlArray[1].url} target="_blank" rel="noopener noreferrer" class={cardBase}>
    <div class={badge}>
      <span>Modular Forms • RubyGems</span>
    </div>
    <Image
      src="/svg-ggb/main-modular.webp"
      class={`w-full h-full object-cover invert hue-rotate-270`}
      width={400}
      height={280}
      loading="lazy"
      fetchpriority="low"
      alt="Math-Modular-Elliptic-Image"
    />
  </a>
  <!-- // 2 -->
  <a href={UrlArray[0].url} target="_blank" rel="noopener noreferrer" class={cardBase}>
    <div class={badge}>
      <span>TS-Tonnetz • npm</span>
    </div>
    <Image
      src="/svg-ggb/main-tonnetz.webp"
      alt="ts-tonnetz simplices portrait"
      class={`w-full h-full object-cover invert  hue-rotate-180`}
      width={400}
      height={280}
      loading="lazy"
      fetchpriority="low"
    />
  </a>
</section>
