---
import BaseLayout from "@layouts/BaseLayout.astro";
import ListOfSkills from "@components/ListOfSkills.astro";
import { techSkillsEnglish } from "@components/ListOfSkills.astro";
import Education from "@components/Education.astro";
import { menuEnglish } from "@components/SideBar.astro";
import { linksTo } from "@components/Biography.astro";
import { Image } from "astro:assets";
import sonicPiImage from "../assets/libraries-webp/sonicpi-background.webp";
import FigurateNumImages from "@components/FigurateNumImages.astro";
---

<!-- https://math.uchicago.edu/~chonoles/miscellany/quotations/ -->
<BaseLayout title="Resume">
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5" id="CURRICULUM">
      <div class="text-3xl w-full font-bold flex items-center">
        <!-- <Curriculum class="ml-0 mr-4" /> -->
        Who am I?
      </div>
    </div>

    <article class="mb-10 mt-10">
      <blockquote class="mb-8">
        <p class="font-thin text-right text-sm italic">
          Numbers are the free creation of the human mind.
        </p>
        <footer class="text-right text-xs font-light mt-1">— Richard Dedekind</footer>
      </blockquote>
      <p class="mb-4">
        I am Edgar Delgado, a developer focused on the intersection of mathematics, computer
        science, and music.
      </p>
      <p class="mb-4">
        My work aims to create abstractions that explore how these fields can inform and enhance
        each other through structural analogies. This drives me to build
        <a class={linksTo} href={menuEnglish.projectsMenu.href}>libraries</a> that simplify complex processes
        and enable creativity across disciplines.
      </p>
      <figure class="text-center my-10 text-gray-400">
        <Image
          src={sonicPiImage}
          alt="modular forms library on Sonic Pi"
          class="w-[92%] mx-auto rounded-xl"
          loading="eager"
        />
        <figcaption class="my-8 text-sm text-gray-400">
          <code>modular_forms (Sonic Pi)</code>
        </figcaption>
      </figure>

      <p class="mb-4">
        As someone who questions, I prefer to reconstruct algorithms with mathematical rigor to
        uncover their true core ideas and patterns, which also involve asymmetry and
        non-commutativity. I find this to be a real way to unlock new concepts.
      </p>

      <FigurateNumImages />
    </article>

    <h2 class="text-2xl my-6 font-semibold">Teaching Experience</h2>
    <p class="mb-8">
      I have extensive teaching experience at both undergraduate and postgraduate levels, focusing
      on live coding and musicology.
      <a class={linksTo} id="testimonials" href={`/testimonials`}>Feedback</a> highlights my ability
      to explain complex concepts clearly and creatively.
      <br />
      My approach is based on asking "why" to recreate concepts, much like musical variations, expanding
      practice and theory in the style of a tensor product.
    </p>

    <h2 class="text-2xl my-6 font-semibold">Interests</h2>
    <ul class="pl-2 mb-10">
      <li class="relative pl-5 text-content text-base">
        <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
        Mathematical Music Theory
      </li>
      <li class="relative pl-5 text-content text-base">
        <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
        Domain-specific languages (DSLs) for music
      </li>
      <li class="relative pl-5 text-content text-base">
        <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
        Computer-assisted music composition and improvisation
      </li>
    </ul>
    <ListOfSkills title="Technologies" techSkills={techSkillsEnglish} indices={[0, 1, 2, 3]} />
    <Education />
  </section>
</BaseLayout>

<!-- <Experience workExperiences={allExperiences} /> -->

<!-- <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Participation in Conferences
      </article>
    </div>

    <ul class="list-disc ml-4 mb-5 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          Speaker at Constelaciones: Interdisciplinary Congress on Art, Science, and Technology
          organized by UTEC, PUCP, MAC-LIMA, and Fundación Telefónica (2022). Presentation: <b
            >Euclid in Live Coding? Algorithms and Mathematical Concepts During Real-Time Coding.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          Invited speaker at the 32nd International Guitar Festival of Ipcna (2021). Presentation: <b
            >Transformational Theories in Mathematical Music Theory.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). Participant (observer) at the <b
            >Latin American and Pan-American Conference on Music Education</b
          > - ISME.
        </p>
      </li>
    </ul>

    <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Courses and certifications
      </article>
    </div>

    <ul class="list-disc ml-4 mb-8 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          National University of Engineering and Institute of Mathematics and Related Sciences,
          UNI-IMCA (2022). <b
            >Mini-Course Anthology of Mathematical Ingenuities. Final project on GitHub.</b
          >
        </p>
      </li>

      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2016). <b
            >Creativity in the Music Classroom: Didactic and Evaluative Strategies.
          </b> Taught by Dr. Ana Lucía Frega.
        </p>
      </li>

      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). <b>Methodologies of Research in Music.</b>
          Taught by Dr. Ana Lucía Frega.
        </p>
      </li>
    </ul> -->

<!-- <p class="mb-4">
        I am passionate about using mathematics, computer science, and music to solve problems,
        create abstractions, and promote self-learning.
      </p>
      <p class="mb-4">
        Why not view them as existing within the same conceptual space, where they can transform
        into one another through structural analogies, not limited to mathematical ones?
      </p>

      <p class="mb-4">
        This interconnectedness drives me to develop <a
          class={linksTo}
          id="projects"
          href={menuEnglish.projectsMenu.href}>libraries</a
        > that automate complex processes while also making it easier to inject ideas between different
        domains.
      </p>

      <figure class="text-center my-10 text-gray-400">
        <Image
          src={sonicPiImage}
          alt="modular forms library on Sonic Pi"
          class="w-[92%] mx-auto rounded-xl"
          loading="eager"
        />
        <figcaption class="my-8 text-sm text-gray-400">
          <code>modular_forms</code>
        </figcaption>
      </figure>

      <p>
        For me, an algorithm is not just a procedure but an object in itself, as musical as it is
        mathematical. Likewise, a musical score can be composed of systems similar to compilers, and
        number fields can be understood as extensions of a harmony.
      </p>

      <FigurateNumImages />
      I am not solely drawn to symmetry; it is just one perspective. Mathematics, nature, and art also
      communicate through their asymmetries. Concepts like non-commutativity reveal a deeper, more compelling
      kind of beauty. -->

<!-- <p class="mb-4">
        I am passionate about exploring the intersections of mathematics, computer science, and
        music, using them to solve problems, create abstractions, and encourage self-learning.
      </p>

      <p class="mb-4">
        I see these fields as parts of the same conceptual space, where ideas can transform into one
        another through structural analogies, not limited to mathematical ones.
      </p>
      <p class="mb-4">
        This perspective drives me to build <a
          class={linksTo}
          id="projects"
          href={menuEnglish.projectsMenu.href}>libraries</a
        > that automate complex processes and facilitate the flow of ideas between domains.
      </p>

      <figure class="text-center my-10 text-gray-400">
        <Image
          src={sonicPiImage}
          alt="modular forms library on Sonic Pi"
          class="w-[92%] mx-auto rounded-xl"
          loading="eager"
        />
        <figcaption class="my-8 text-sm text-gray-400">
          <code>modular_forms</code>
        </figcaption>
      </figure>

      <p class="mb-4">
        To me, algorithms are musical and mathematical objects, like scores that resemble compilers
        or number fields unfolding as harmonies. I am drawn to both symmetry and the beauty of
        asymmetry, where mathematics, nature, and art reveal deep connections through
        non-commutativity and imbalance.
      </p>
      <FigurateNumImages /> -->
