---
import BaseLayout from "@layouts/BaseLayout.astro";
import ListOfSkills from "@components/ListOfSkills.astro";
import { techSkillsEnglish } from "@components/ListOfSkills.astro";
import Education from "@components/Education.astro";
import { menuEnglish } from "@components/SideBar.astro";
import { linksTo } from "@components/Biography.astro";
import SonicPiModFormsImage from "@components/img-components/SonicPiModFormsImage.astro";
import FigurateNumImages from "@components/img-components/FigurateNumImages.astro";
---

<!-- https://math.uchicago.edu/~chonoles/miscellany/quotations/ -->
<BaseLayout title="Edgar Delgado Vega - About me">
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5" id="CURRICULUM">
      <div class="text-3xl w-full font-bold flex items-center">
        <!-- <Curriculum class="ml-0 mr-4" /> -->
        Who am I?
      </div>
    </div>

    <article class="mb-10 mt-10">
      <blockquote class="mb-4">
        <p class="font-thin text-right text-sm italic">Geometry determines arithmetic.</p>
        <footer class="text-right text-xs font-light mt-1">— M. Hyndry and J. Silverman</footer>
      </blockquote>
      <blockquote class="mb-4">
        <p class="font-thin text-right text-sm italic text-balance">
          Precise knowledge of the behavior of an analytic function in the neighborhood of its
          singular points is a source of number-theoretic theorems.
        </p>
        <footer class="text-right text-xs font-light mt-1">— E. Hecke</footer>
      </blockquote>

      <p class="mb-4">
        I am Edgar Delgado Vega, a musician born in Lima who develops software at the intersection
        of mathematics, computation, and music.
      </p>
      <p class="mb-4">
        My vision is to create abstractions through structural analogies that naturally lead to
        mathematical discovery from the musical perspective and vice versa. To this end, I design <a
          class={linksTo}
          id="projects"
          href={menuEnglish.projectsMenu.href}
          >code libraries
        </a> that enable tackling complex problems in creative ways.
      </p>

      <SonicPiModFormsImage />

      <p class="mb-4">
        As someone who enjoys questioning things, I prefer to reconstruct algorithms and music
        theory with sufficient mathematical rigor to unveil underlying patterns, which also involves
        thinking about asymmetries and non-commutativity. I find that this systematic approach is a
        genuine pathway to new concepts.
      </p>

      <FigurateNumImages />

      <h2 class="text-2xl my-6 font-semibold">Teaching Experience</h2>
      <p class="mb-10">
        I have teaching experience at both undergraduate and postgraduate levels, particularly in
        live coding and musicology with a technological focus. You can read feedback on my teaching
        practice
        <a class={linksTo} id="testimonials" href={`/testimonials`}>here</a>.
      </p>

      <h2 class="text-2xl my-6 font-semibold">Interests</h2>
      <ul class="pl-2 mb-10">
        <li class="relative pl-5 text-content text-base">
          <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
          Mathematical Music Theory
        </li>
        <li class="relative pl-5 text-content text-base">
          <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
          Domain-specific languages (DSLs) for music
        </li>
        <li class="relative pl-5 text-content text-base">
          <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
          Computer-assisted music composition and improvisation
        </li>
      </ul>
    </article>

    <blockquote class="mb-4">
      <p class="font-thin text-right text-sm italic text-balance">
        I've tried to learn the hidden beauty in various things, but still for many areas the source
        of interest is for me a complete mystery. My theory is that too often people project their
        human weaknesses/properties onto their mathematical activity. There are obvious examples on
        the surface: for example, the idea of a classification of some objects is an incarnation of
        collector instincts, the search for maximal values is another form of greed,
        computability/decidability comes from the desire of a total control. Fascination with
        iterations is similar to the hypnotism of rhythmic music.
      </p>
      <footer class="text-right text-xs font-light mt-1">— Maxim Kontsevich</footer>
    </blockquote>

    <ListOfSkills title="Technologies" techSkills={techSkillsEnglish} indices={[0, 1, 2, 3]} />
    <img
      src="https://githubcard.com/edelveart.svg?d=JDU5hnct"
      alt="GitHub Stats"
      class="rounded-lg"
    />
    <Education />
  </section>
</BaseLayout>

<!-- <Experience workExperiences={allExperiences} /> -->

<!-- <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Participation in Conferences
      </article>
    </div>

    <ul class="list-disc ml-4 mb-5 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          Speaker at Constelaciones: Interdisciplinary Congress on Art, Science, and Technology
          organized by UTEC, PUCP, MAC-LIMA, and Fundación Telefónica (2022). Presentation: <b
            >Euclid in Live Coding? Algorithms and Mathematical Concepts During Real-Time Coding.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          Invited speaker at the 32nd International Guitar Festival of Ipcna (2021). Presentation: <b
            >Transformational Theories in Mathematical Music Theory.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). Participant (observer) at the <b
            >Latin American and Pan-American Conference on Music Education</b
          > - ISME.
        </p>
      </li>
    </ul>

    <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Courses and certifications
      </article>
    </div>

    <ul class="list-disc ml-4 mb-8 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          National University of Engineering and Institute of Mathematics and Related Sciences,
          UNI-IMCA (2022). <b
            >Mini-Course Anthology of Mathematical Ingenuities. Final project on GitHub.</b
          >
        </p>
      </li>

      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2016). <b
            >Creativity in the Music Classroom: Didactic and Evaluative Strategies.
          </b> Taught by Dr. Ana Lucía Frega.
        </p>
      </li>

      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). <b>Methodologies of Research in Music.</b>
          Taught by Dr. Ana Lucía Frega.
        </p>
      </li>
    </ul> -->

<!-- <p class="mb-4">
        I am passionate about using mathematics, computer science, and music to solve problems,
        create abstractions, and promote self-learning.
      </p>
      <p class="mb-4">
        Why not view them as existing within the same conceptual space, where they can transform
        into one another through structural analogies, not limited to mathematical ones?
      </p>

      <p class="mb-4">
        This interconnectedness drives me to develop <a
          class={linksTo}
          id="projects"
          href={menuEnglish.projectsMenu.href}>libraries</a
        > that automate complex processes while also making it easier to inject ideas between different
        domains.
      </p>

      <figure class="text-center my-10 text-gray-400">
        <Image
          src={sonicPiImage}
          alt="modular forms library on Sonic Pi"
          class="w-[92%] mx-auto rounded-xl"
          loading="eager"
        />
        <figcaption class="my-8 text-sm text-gray-400">
          <code>modular_forms</code>
        </figcaption>
      </figure>

      <p>
        For me, an algorithm is not just a procedure but an object in itself, as musical as it is
        mathematical. Likewise, a musical score can be composed of systems similar to compilers, and
        number fields can be understood as extensions of a harmony.
      </p>

      <FigurateNumImages />
      I am not solely drawn to symmetry; it is just one perspective. Mathematics, nature, and art also
      communicate through their asymmetries. Concepts like non-commutativity reveal a deeper, more compelling
      kind of beauty. -->

<!-- <p class="mb-4">
        I am passionate about exploring the intersections of mathematics, computer science, and
        music, using them to solve problems, create abstractions, and encourage self-learning.
      </p>

      <p class="mb-4">
        I see these fields as parts of the same conceptual space, where ideas can transform into one
        another through structural analogies, not limited to mathematical ones.
      </p>
      <p class="mb-4">
        This perspective drives me to build <a
          class={linksTo}
          id="projects"
          href={menuEnglish.projectsMenu.href}>libraries</a
        > that automate complex processes and facilitate the flow of ideas between domains.
      </p>

      <figure class="text-center my-10 text-gray-400">
        <Image
          src={sonicPiImage}
          alt="modular forms library on Sonic Pi"
          class="w-[92%] mx-auto rounded-xl"
          loading="eager"
        />
        <figcaption class="my-8 text-sm text-gray-400">
          <code>modular_forms</code>
        </figcaption>
      </figure>

      <p class="mb-4">
        To me, algorithms are musical and mathematical objects, like scores that resemble compilers
        or number fields unfolding as harmonies. I am drawn to both symmetry and the beauty of
        asymmetry, where mathematics, nature, and art reveal deep connections through
        non-commutativity and imbalance.
      </p>
      <FigurateNumImages /> -->
