---
import BaseLayout from "@layouts/BaseLayout.astro";
import Experience, { allExperiences } from "@components/Experience.astro";
import ListOfSkills from "@components/ListOfSkills.astro";
import { techSkillsEnglish } from "@components/ListOfSkills.astro";
import Education from "@components/Education.astro";
import Curriculum from "@icons/Curriculum.astro";
import { menuEnglish } from "@components/SideBar.astro";
import { linksTo } from "@components/Biography.astro";
import { Image } from "astro:assets";
import sonicPiImage from "../assets/libraries-webp/sonicpi-background.webp";
import FigurateNumImages from "@components/FigurateNumImages.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="CV_ACTIVE_PAGE">
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5" id="CURRICULUM">
      <div class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" />About me
      </div>
    </div>

    <article class="mb-10">
      <blockquote class="mb-4 mt-[-0.5rem]">
        <p class="font-thin text-right text-sm italic">
          Numbers are the free creation of the human mind.
        </p>
        <footer class="text-right text-xs font-light mt-1">— Richard Dedekind</footer>
      </blockquote>

      <p class="mb-4">
        I am passionate about using mathematics, computer science, and music to <strong
          >solve problems</strong
        >, <strong>create abstractions</strong>, and <strong>foster self-learning</strong>.
      </p>
      <p class="mb-4">
        Why not consider them as existing in the same space, where they can transform from one point
        to another through structural analogies (not limited to mathematical ones)? This motivates
        me to develop <a class={linksTo} id="projects" href={menuEnglish.projectsMenu.href}
          >libraries</a
        > to tackle complex problems.
      </p>

      <figure class="text-center my-10 text-gray-400">
        <Image
          src={sonicPiImage}
          alt="modular forms library on Sonic Pi"
          class="w-full mx-auto rounded-xl"
        />
        <figcaption class="mt-3 text-sm text-gray-400">
          Creating music in Sonic Pi using <code>modular_forms</code>.
        </figcaption>
      </figure>

      <p>
        For me, an algorithm is not just a procedure but an object in itself, as musical as it is
        mathematical. Likewise, a musical score can be composed of systems similar to compilers, and
        number fields can be understood as extensions of a harmony.
      </p>

      <FigurateNumImages>
        <span slot="caption">
          Plot 5D hyperoctahedron and centered decagonal pyramidal numbers with
          <code>figuratenum</code>.
        </span>
      </FigurateNumImages>

      <h2 class="text-xl my-4 font-semibold">Experience</h2>
      <p>
        I have extensive experience in both in-person and online teaching at the undergraduate and
        graduate levels, specializing in live coding and musicology. Feedback on my teaching
        practice is mostly favorable, highlighting my ability to communicate complex concepts
        clearly and accessibly.
      </p>
      <h2 class="text-xl my-4 font-semibold">Interests</h2>
      <p>
        <ul class="pl-2">
          <li class="relative pl-5 text-content text-base">
            <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
            Mathematical Music Theory
          </li>
          <li class="relative pl-5 text-content text-base">
            <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
            Domain-specific languages (DSLs) for music
          </li>
          <li class="relative pl-5 text-content text-base">
            <span class="absolute left-0 top-[0.55rem] w-2 h-2 bg-primary rounded-full"></span>
            Computer-assisted music composition and improvisation
          </li>
        </ul>
      </p>
    </article>
    <ListOfSkills title="Technologies" techSkills={techSkillsEnglish} indices={[0, 1, 2, 3]} />
    <Education />
  </section>
</BaseLayout>

<!-- <Experience workExperiences={allExperiences} /> -->

<!-- <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Participation in Conferences
      </article>
    </div>

    <ul class="list-disc ml-4 mb-5 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          Speaker at Constelaciones: Interdisciplinary Congress on Art, Science, and Technology
          organized by UTEC, PUCP, MAC-LIMA, and Fundación Telefónica (2022). Presentation: <b
            >Euclid in Live Coding? Algorithms and Mathematical Concepts During Real-Time Coding.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          Invited speaker at the 32nd International Guitar Festival of Ipcna (2021). Presentation: <b
            >Transformational Theories in Mathematical Music Theory.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). Participant (observer) at the <b
            >Latin American and Pan-American Conference on Music Education</b
          > - ISME.
        </p>
      </li>
    </ul>

    <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Courses and certifications
      </article>
    </div>

    <ul class="list-disc ml-4 mb-8 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          National University of Engineering and Institute of Mathematics and Related Sciences,
          UNI-IMCA (2022). <b
            >Mini-Course Anthology of Mathematical Ingenuities. Final project on GitHub.</b
          >
        </p>
      </li>

      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2016). <b
            >Creativity in the Music Classroom: Didactic and Evaluative Strategies.
          </b> Taught by Dr. Ana Lucía Frega.
        </p>
      </li>

      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). <b>Methodologies of Research in Music.</b>
          Taught by Dr. Ana Lucía Frega.
        </p>
      </li>
    </ul> -->
