---
import BaseLayout from "@layouts/BaseLayout.astro"
import GitHub from "@components/icons/GitHub.astro"
import LinkedIn from "@components/icons/LinkedIn.astro"
import Youtube from "@components/icons/Youtube.astro"
import Instagram from "@components/icons/Instagram.astro"
import Bio from "@components/Bio.astro"
import Experience from "@components/Experience.astro"
import ProjectsComponent, {
  allProjects,
} from "@components/ProjectsComponent.astro"

import ListOfSkills from "@components/ListOfSkills.astro"
import Education from "@components/Education.astro"
// import { getCollection } from "astro:content";
// import createSlug from "../lib/createSlug"
// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="mt-[-1.75rem] flex justify-end gap-5">
    <a
      class="btn btn-circle btn-info"
      href="https://www.linkedin.com/in/edgararmandodelgadovega/"
      target="_blank"
    >
      <LinkedIn class="size-6" />
      <!-- LinkedIn -->
    </a>
    <a
      class="btn btn-circle btn-info"
      href="https://youtube.com/@edelvemusic"
      target="_blank"
    >
      <Youtube class="size-6" />
      <!-- Youtube -->
    </a>
    <a
      class="btn btn-circle btn-info"
      href="https://github.com/edelveart"
      target="_blank"
    >
      <GitHub class="size-6" />
      <!-- GitHub -->
    </a>
    <a
      class="btn btn-circle btn-info"
      href="https://www.instagram.com/edgardelgadovega/"
      target="_blank"
    >
      <Instagram class="size-6" />
      <!-- Instagram -->
    </a>
  </div>

  <div class="pb-12 mt-3">
    <div class="text-xl py-1">Bienvenidos todos! 👋</div>
    <div class="text-5xl font-bold leading-snug text-primary">
      Soy Edgar Delgado Vega
    </div>
    <div class="text-3xl py-3 font-bold text-secondary">
      Desarrollador de software y live coder
    </div>

    <div class="py-2">
      <Bio />
    </div>

    <div class="mt-5"></div>
    <ProjectsComponent projects={allProjects} />

    <Experience />

    <ListOfSkills />

    <Education />
    <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->
    <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
  </div>
</BaseLayout>
