---
import BaseLayout from "@layouts/BaseLayout.astro"
import Biography from "@components/Biography.astro"
import IndexLinks from "@components/IndexLinks.astro"
import Experience, { allExperiences } from "@components/Experience.astro"
import ProjectsComponent, {
  allProjects,
} from "@components/ProjectsComponent.astro"

import ListOfSkills from "@components/ListOfSkills.astro"
import Education from "@components/Education.astro"
import { techSkills } from "@components/ListOfSkills.astro"

// import { getCollection } from "astro:content";
// import createSlug from "../lib/createSlug"
// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-3 mt-5">
    <div class="text-3xl font-bold leading-snug text-primary py-0">
      Hola, soy
      <strong>Edgar</strong>👋
    </div>
    <div class="py-1 font-bold text-secondary">
      Desarrollo software y amo las matemáticas
    </div>

    <div class="py-2 mt-4">
      <Biography />
    </div>
    <IndexLinks contactText="Contáctame" />

    <ProjectsComponent projects={allProjects} indices={[0, 2]} />
    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ListOfSkills listOfSkills={techSkills} indices={[0, 1]} />
    <Education />

    <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div> -->
    <!-- {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    } -->
  </div>
</BaseLayout>
