---
import BaseLayout from "@layouts/BaseLayout.astro";

import Biography from "@components/Biography.astro";
import IndexLinks from "@components/IndexLinks.astro";

import { allProjects } from "../components/ProjectsComponent.astro";
import Experience, { allExperiences } from "../components/Experience.astro";
import ModEcImg from "@components/ModEcImg.astro";
import ProjectsComponentIndex from "@components/ProjectsComponentIndex.astro";

// BLOG - NOTES
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import CardBlog from "@components/CardBlog.astro";
import Skills from "@icons/Skills.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 5);
---

<BaseLayout title="Home">
  <ModEcImg />
  <section class="pb-3 mt-12">
    <article>
      <h1 class="text-4xl font-bold leading-snug py-0 flex text-center">
        Edgar Delgado
        <!-- <p class="ml-2 animate-bounce">👋</p> -->
      </h1>
      <h2 class="py-3 text-2xl font-bold text-content">Creative Math Systems Developer</h2>
    </article>
    <div class="py-2 my-4">
      <Biography />
      <IndexLinks contactText="LinkedIn" linkedin="L" github="G" youtube="Y" />
    </div>

    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ProjectsComponentIndex
      headTitle="Software"
      projects={allProjects}
      indices={[0, 1, 2, 3, 4, 5]}
    />

    <!-- BLOG-NOTES -->
    <h2 class="text-3xl w-full font-bold flex items-center mt-20">
      <!-- <Skills class="ml-0 mr-32" /> -->
      Blog
    </h2>
    {
      last_posts.map((post) => (
        <>
          {/* badge={post.data.badge} */}
          {/* tags={post.data.tags} */}
          <CardBlog
            pubDate={post.data.pubDate}
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
          />
        </>
      ))
    }
  </section>
</BaseLayout>
