---
import BaseLayout from "@layouts/BaseLayout.astro";

import Biography from "@components/Biography.astro";
import MainLinks from "@components/MainLinks.astro";

import { allProjects } from "../components/ProjectsComponent.astro";
import Experience, { allExperiences } from "../components/Experience.astro";
import ModEcImg from "@components/img-components/ModEcImg.astro";
import IndexOfProjects from "@components/IndexOfProjects.astro";

// BLOG - NOTES
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import CardBlog from "@components/CardBlog.astro";
import PreviousPosts from "@components/PreviousPosts.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout title="Edgar Delgado Vega - Creative Math Systems Developer">
  <section class="mt-4">
    <h1 class="text-4xl font-black leading-snug flex">Edgar Delgado</h1>
    <h2 class="py-3 text-2xl font-black text-primary">Creative Math Systems Developer</h2>
    <ModEcImg />
    <!-- <IndexOfProjects headTitle="" projects={allProjects} indices={[0, 1, 2, 3, 4, 5]} /> -->
    <div class="my-20">
      <Biography />
      <MainLinks contactText="LinkedIn" linkedin="L" github="G" youtube="Y" />
    </div>
    <Experience workExperiences={allExperiences} indices={[0, 1]} } />

    <!-- BLOG-NOTES -->
    <h2 class="text-3xl w-full font-black flex items-center mt-16">Latest Posts</h2>
    {
      last_posts.map((post) => (
        <>
          {/* badge={post.data.badge} */}
          {/* tags={post.data.tags} */}
          <CardBlog
            pubDate={post.data.pubDate}
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
          />
        </>
      ))
    }
    <PreviousPosts />
  </section>
</BaseLayout>
