---
import BaseLayout from "@layouts/BaseLayout.astro";
import Errata from "@components/resources-components/Errata.astro";
import MiscFiles from "@components/resources-components/MiscFiles.astro";
import { SOCIAL_MEDIA } from "@ts-config-path/config";
import CheatSheets from "@components/resources-components/CheatSheets.astro";
import { BORDER_INFO, LINKS_TO, META_BADGE_TAGS, CARD_OP } from "@styles/utilsCSS";
---

<BaseLayout title="Edgar Delgado Vega - Resources">
  <article class="pb-3 my-5">
    <div class="mb-5 mt-5">
      <div class="text-3xl w-full font-bold flex items-center"> Resources </div>
    </div>
    <p class="my-8">
      All resources are created using <strong>LaTeX</strong> and are available in
      <strong>PDF</strong> format. Here, I have compiled documents on mathematics, music, and their applications
      through software.
    </p>

    <section class=`text-sm ${BORDER_INFO} mb-8`>
      <h3 class={META_BADGE_TAGS.badge}>Corrections and Versions</h3>
      <p class=`${CARD_OP.muteData}`>
        These documents are drafts and may contain errors or omissions. If you find any typos or
        inconsistencies, I would appreciate it if you let me know via
        <a class={LINKS_TO} target="_blank" href={SOCIAL_MEDIA.linkedin}>LinkedIn</a>. I will be
        happy to review and correct them as soon as possible.
      </p>
    </section>

    <MiscFiles title="Draft Notes" />
    <Errata title="Errata in Books and Theses" />
    <CheatSheets title="Library Cheatsheets Collection" />
  </article>

  <section class=`text-sm mb-8 ${BORDER_INFO}`>
    <h3 class={META_BADGE_TAGS.badge}>Legal Notice</h3>
    <p class=`${CARD_OP.muteData}`>
      All content available on this website, including the documents and related resources, is
      protected by copyright and distributed under the Creative Commons
      <a
        class={LINKS_TO}
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
        blank-
      >
        CC BY-NC-ND 4.0
      </a>
      (Attribution-NonCommercial-NoDerivatives) license.
    </p>
    <p class=`${CARD_OP.muteData}`>
      This means you are free to copy and redistribute the material in any medium or format, as long
      as appropriate credit is given, it is not used for commercial purposes, and no modifications
      or derivative works are made. Commercial use and modification of the material are not
      permitted without explicit permission.
    </p>
  </section>
</BaseLayout>
