---
import BaseLayout from "@layouts/BaseLayout.astro";
const liStyle = `mb-6 border-l-3 border-gray-300 pl-4 italic text-sm border-success text-neutral`;
const expYears = "text-xl font-bold text-neutral";
---

<BaseLayout title="Resources">
  <article class="pb-3 my-5">
    <div class="mb-5 mt-5">
      <div class="text-3xl w-full font-bold flex items-center">Testimonials</div>
    </div>

    <p class="my-4">
      In this section, I share some testimonies of my teaching practice. My approach is based on
      asking "why" to recreate concepts, much like musical variations, expanding practice and theory
      in the style of a tensor product.
    </p>

    <!-- Postgraduate -->
    <!-- - Search Techniques: 8.55, 8.80, 8.79 - Music Industries: 9.33 - Performative Research:
8.46, 9.40 - Music Listening: 8.35, 9.55 - Music Pedagogy: 8.20 -->
    <!--  -->

    <h3 class="text-2xl my-10 font-bold flex flex-col">
      <span class="">EP Newman</span>
      <span class="text-xl text-primary"> Lecturer in Master's Musicology and Music Pedagogy </span>
    </h3>

    <h3 class={expYears}>2024 - 2025</h3>

    <div class="stat flex justify-center">
      <div class="stat-figure text-success">
        <div class="stat-title">Master's in Musicology</div>
        <div class="stat-value">8.90</div>
        <div class="stat-desc">Overall average out of 10</div>
      </div>
      <div class="stat-figure text-success">
        <div class="stat-title">Master's in Music Pedagogy</div>
        <div class="stat-value">8.33</div>
        <div class="stat-desc">Overall average out of 10</div>
      </div>
    </div>

    <h3 class="text-2xl my-10 font-bold flex flex-col">
      Toulouse Lautrec
      <span class="text-xl text-primary"> Instructor in Music Production and Business</span>
    </h3>

    <h3 class={expYears}>2024 - 2025</h3>
    <ul class="mt-5">
      <li class={liStyle}>
        I definitely loved this course. All the classes were very enjoyable and educational.
        Regarding the teacher Edgar Delgado, I have nothing to suggest because his classes and
        shared knowledge are very interesting. He is constantly checking that everyone is keeping up
        with the class. He answers all our questions and goes deeper into each topic, providing
        additional information. He shares his experience in the music industry and how it might be
        useful for us in the future. It was a great experience with the Music Theory course, and of
        course, I would recommend it to my peers and anyone interested in learning more about music.
      </li>
      <li class={liStyle}>
        I want to thank and congratulate Professor Edgar Delgado. I’ve learned a lot, he is very
        educational, highly intellectual, intuitive, and easy to learn from. A great teacher.
        Thanks, Toulouse.
      </li>
      <li class={liStyle}>
        The teacher clearly loves and masters the topic and knows how to transmit that knowledge.
        Thank you.
        <li class={liStyle}>
          A teacher who encourages participation and is very educational. He truly explains
          everything and answers every question. More teachers like him!
        </li>
      </li>
      <li class={liStyle}>I recommend him.</li>
      <li class={liStyle}>
        The dynamic approach was great, and I liked the detail of the lofi or jazz music playing in
        the background during each class. Somehow, it made the class more lively and dynamic. The
        professor explained everything in the best way, never being overly serious, occasionally
        adding some humor to keep the lessons from being boring. I really enjoyed this course.
      </li>
      <li class={liStyle}>Everything was excellent.</li>
      <li class={liStyle}>
        I wish all courses were taught by this professor because there would never be any doubt that
        it would be a quality course. 10/10 for the professor!
      </li>
      <li class={liStyle}>
        The professor is very chill and never leaves you with doubts on any topic... he gives his
        best to make sure you understand, but it also depends on the student. I hope I can continue
        with him for the next course.
      </li>
      <li class={liStyle}>
        The teacher has a very spontaneous, creative, and educational way of giving classes. I feel
        very comfortable with the course and the teacher. Thank you!
      </li>
      <li class={liStyle}>
        Very clear, easy to understand, dynamic, and he projects how things would be if you used
        certain techniques in a production. I loved it. Thank you!
      </li>
      <li class={liStyle}>
        For me, this was a very easy-to-understand and educational course. The professor moved at
        our pace, complementing it with examples and very funny memes, making the class more
        dynamic. I also learned many new things I had never seen.
      </li>
      <li class={liStyle}>
        The teacher is excellent, and his teaching style is very practical and illustrative. He
        broadens your horizons and leaves no doubts. Highly recommended.
      </li>
      <li class={liStyle}>
        The course was very complete, and I truly felt the learning. The final project was very
        interesting, and the professor was always attentive to our learning, always willing to
        resolve any doubts.
      </li>
      <li class={liStyle}>Very good teacher. Excellent teaching style.</li>
      <li class={liStyle}>
        Very good teaching from the professor, he knows how to reach students.
      </li>
      <li class={liStyle}>The entire course was very interesting, spectacular.</li>
      <li class={liStyle}>
        I had a very pleasant experience with the professor. I had fun and learned much more about
        music. +200 aura :)
      </li>
      <li class={liStyle}>
        It was a useful course, though I had some difficulty focusing because of the constant
        deviations from the main topic. However, it was well explained and easy to understand as
        much as possible.
      </li>
      <li class={liStyle}>EXCELLENT COURSE!</li>
      <li class={liStyle}>Great teacher.</li>
      <li class={liStyle}>
        Once again, the professor used various materials in class, always making learning easier. He
        also made sure everyone understood everything being taught.
      </li>
      <li class={liStyle}>
        Excellent teacher. One comment: I would prefer if he didn’t play background music, because
        for those of us watching the recorded classes, the background music can make it hard to hear
        the lecture clearly. Aside from that, it's an excellent class.
      </li>
      <li class={liStyle}>Excellent.</li>
      <li class={liStyle}>
        The module was great and so was the professor. He was easy to understand, and I learned many
        new things.
      </li>
      <li class={liStyle}>Good, but there should be more focus for those starting from scratch.</li>
      <li class={liStyle}>
        Great teacher and a very pleasant module, although I couldn’t do many dynamic activities
        because of the module's topic, it was still enjoyable.
      </li>
      <li class={liStyle}>Excellent.</li>
      <li class={liStyle}>
        The professor who is teaching me Music Production is super cool, and I can easily understand
        what he explains.
      </li>
      <li class={liStyle}>Very well condensed introductory class on Music Production.</li>
      <li class={liStyle}>
        The course seems quite interesting. As a student who has just graduated from high school,
        some concepts were a bit challenging, but I assume my learning will improve with time. I
        would have preferred an in-person format to make it more interactive. However, during the
        course, my knowledge of audio and music grew a lot, which is very gratifying.
      </li>
      <li class={liStyle}>
        This module was really good. The professor was understandable, and I learned a lot of new
        things.
      </li>
      <li class={liStyle}>
        The professor teaching me Music Production at Toulouse Lautrec is great. The best part is
        that every time he teaches, it’s easy to understand.
      </li>
      <li class={liStyle}>
        Excellent course, the professor teaches well. I hope he continues until the last module.
      </li>

      <li class={liStyle}>
        Good morning, afternoon, or evening. I think this is a good course and it really is,
        although perhaps the most delicate point would be the application we use, which sometimes
        has some glitches, and when you watch the repetitions, the voice and video aren’t always
        well synchronized. I'm not sure if it’s just me... I have stable internet :) But other than
        that, I feel good with the course. My teacher is very patient and always does his best to
        teach in a more practical way, which I’m very grateful for and commend him for. Many thanks
        and greetings!
      </li>
      <li class={liStyle}>
        I feel like something is missing to catch your attention, like a "spark." Of all the people
        who started, only three of us remained.
      </li>
      <li class={liStyle}>Excellent.</li>
      <li class={liStyle}>Good course.</li>
    </ul>

    <h3 class={expYears}>2022 - 2023</h3>
    <ul class="mt-5">
      <li class={liStyle}>
        The best teacher without a doubt, a genius at teaching and making sure we understand music.
        I would definitely recommend him.
      </li>
      <li class={liStyle}>
        Professor Edgar is an excellent teacher, I've learned a lot from him. He is very patient
        with everyone: I would recommend him a thousand times!
      </li>
      <li class={liStyle}>
        Professor Edgar is an excellent teacher, he has a very broad vision of what music is, he
        knows and masters many musical genres, and he inspires students to research and acquire new
        skills.
      </li>
      <li class={liStyle}>
        Very good teacher, his experimental and unconventional method helped me better master music
        theory.
      </li>
      <li class={liStyle}>One of the best teachers.</li>
      <li class={liStyle}>
        The teacher explains very well and his classes are interactive, which greatly influenced my
        learning.
      </li>
      <li class={liStyle}>
        The pace of the course should have been slower because the teacher moves very quickly at
        times, the module should be more tailored to those interested in music production.
      </li>
      <li class={liStyle}>Excellent teacher.</li>
      <li class={liStyle}>The learning style was a bit repetitive, monotonous, and fast-paced.</li>
      <li class={liStyle}>
        The course is very good and the teacher is great, but it's not very recommended for people
        with no experience.
      </li>
      <li class={liStyle}>
        There was a lack of follow-up with the students so that everyone could reach the same
        outcome with a better pacing of the topics.
      </li>
      <li class={liStyle}>Very good teacher with patience to teach everyone at the same level.</li>
      <li class={liStyle}>
        He kept saying that everything was very simple in the more advanced topics. I would have
        liked him to emphasize scales and modes. I didn't like the course.
      </li>
      <li class={liStyle}>
        I had a great time in this module. Professor Edgar is very professional and knows how to
        connect with the students. I'm very grateful.
      </li>
      <li class={liStyle}>
        The course was excellent, he made us understand enough to create new musical productions.
      </li>
    </ul>
  </article>
</BaseLayout>
