---
import Home from "@icons/Home.astro";
import Branch from "@icons/Branch.astro";
import Curriculum from "@icons/Curriculum.astro";
import Writing from "@icons/Writing.astro";
type Props = {
  sideBarActiveItemID: unknown;
  homeMenu: string;
  hrefHome: string;
  cvMenu: string;
  hrefCV: string;
  projectsMenu: string;
  hrefProjects: string;
  resourcesMenu: string;
  hrefResources: string;
};

const {
  sideBarActiveItemID,
  homeMenu,
  hrefHome,
  cvMenu,
  hrefCV,
  projectsMenu,
  hrefProjects,
  resourcesMenu,
  hrefResources,
} = Astro.props;

const activeClass = "bg-base-300";
export const sideMenuCss = {
  divCss: "py-3  md:justify-start",
  spanText: "text-base",
};
---

<strong class="flex justify-center mb-5 text-lg">Edgar Delgado</strong>
<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a class={sideMenuCss.divCss} id="HOME_ACTIVE_PAGE" href={hrefHome}
      ><Home />
      <span class={sideMenuCss.spanText}>{homeMenu}</span>
    </a>
  </li>
  <li>
    <a class={sideMenuCss.divCss} id="CV_ACTIVE_PAGE" href={hrefCV}>
      <Curriculum />
      <span class={sideMenuCss.spanText}>{cvMenu}</span>
    </a>
  </li>
  <li>
    <a class={sideMenuCss.divCss} id="PROJECTS_ACTIVE_PAGE" href={hrefProjects}
      ><Branch />
      <span class={sideMenuCss.spanText}>{projectsMenu}</span>
    </a>
  </li>
  <li>
    <a class={sideMenuCss.divCss} id="RESOURCES_ACTIVE_PAGE" href={hrefResources}
      ><Writing />
      <span class={sideMenuCss.spanText}>{resourcesMenu}</span>
    </a>
  </li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>
