---
import Home from "@icons/Home.astro";
import Branch from "@icons/Branch.astro";
import Curriculum from "@icons/Curriculum.astro";
import Writing from "@icons/Writing.astro";
type Props = {
  sideBarActiveItemID: unknown;
  homeMenu: string;
  hrefHome: string;
  cvMenu: string;
  hrefCV: string;
  projectsMenu: string;
  hrefProjects: string;
  resourcesMenu: string;
  hrefResources: string;
};

const {
  sideBarActiveItemID,
  homeMenu,
  projectsMenu,
  cvMenu,
  resourcesMenu,
  hrefHome,
  hrefProjects,
  hrefCV,
  hrefResources,
} = Astro.props;

const activeClass = "bg-base-300";
export const sideMenuCss = {
  divCss: "py-3  md:justify-start",
  spanText: "text-base",
};
// const currentLangBarMenu = Astro.url.pathname.startsWith("/en") ? "en" : "es";
---

<strong class="flex justify-center mb-5 text-lg">Edgar Delgado</strong>
<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a class={sideMenuCss.divCss} id="home" href={hrefHome}
      ><Home />
      <span class={sideMenuCss.spanText}>{homeMenu}</span>
    </a>
  </li>
  <li>
    <a class={sideMenuCss.divCss} id="cv" href={hrefCV}>
      <Curriculum />
      <span class={sideMenuCss.spanText}>{cvMenu}</span>
    </a>
  </li>
  <li>
    <a class={sideMenuCss.divCss} id="projects" href={hrefProjects}
      ><Branch />

      <span class={sideMenuCss.spanText}>{projectsMenu}</span>
    </a>
  </li>

  <li>
    <a class={sideMenuCss.divCss} id="projects" href={hrefResources}
      ><Writing />

      <span class={sideMenuCss.spanText}>{resourcesMenu}</span>
    </a>
  </li>
  <!-- {
    resourcesMenu && hrefResources && (
      <li>
        <a class={sideMenuCss.divCss} id="resources-page" href={hrefResources}>
          {currentLangBarMenu === "es" ? <Writing /> : ""}
          <span class={sideMenuCss.spanText}>{resourcesMenu}</span>
        </a>
      </li>
    )
  } -->
  <!-- <li>
    <a class=sideMenuCss.divCss id="blog" href={hrefBlog}>
      {currentLangBarMenu === "es" ? <Blog /> : ""}
      <span class=`${sideMenuCss.spanText}`>{blogMenu}</span>
    </a>
  </li> -->
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>
