---
import SideBarMenu from "@components/es/SideBarMenu.astro";
import SideBarFooter from "@components/SideBarFooter.astro";
import PhotoProfile from "@components/PhotoProfile.astro";
const { sideBarActiveItemID } = Astro.props;

export const menuSpanish = {
  homeMenu: {
    text: "Inicio",
    href: "/es",
  },
  projectsMenu: {
    text: "Bibliotecas",
    href: "/es/projects",
  },
  cvMenu: {
    text: "Acerca de mí",
    href: "/es/about",
  },
  resourcesMenu: {
    text: "Recursos",
    href: "/es/resources",
  },
  // blogMenu: {
  //   text: "Blog",
  //   href: "/blog",
  // },
};
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside
    class="px-2 pt-2 h-auto min-h-full w-[19rem] md:w-[19rem] bg-base-200 text-base-content flex flex-col"
  >
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/es">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-24">
            <PhotoProfile />
          </div>
        </div>
      </a>
    </div>

    <SideBarMenu
      homeMenu={menuSpanish.homeMenu.text}
      hrefHome={menuSpanish.homeMenu.href}
      cvMenu={menuSpanish.cvMenu.text}
      hrefCV={menuSpanish.cvMenu.href}
      projectsMenu={menuSpanish.projectsMenu.text}
      hrefProjects={menuSpanish.projectsMenu.href}
      resourcesMenu={menuSpanish.resourcesMenu.text}
      hrefResources={menuSpanish.resourcesMenu.href}
      sideBarActiveItemID={sideBarActiveItemID}
    />
    <SideBarFooter />
  </aside>
</div>
