---
import { menuEnglish } from "./SideBar.astro";
import { LINKS_TO } from "@styles/utilsCSS";
---

<section class="mb-8 break-normal hyphens-auto">
  <p class="mb-4">
    I develop creative systems that merge mathematics, computation, and music through structural
    analogies.
  </p>
  <p class="mb-4">
    All for real-time algorithmic composition, my current projects include
    <a
      href="https://rubygems.org/gems/modular_forms"
      target="_blank"
      rel="noopener"
      class={LINKS_TO}>modular forms</a
    > (SageMath/LMFDB-inspired) and <a
      id="projects"
      href={menuEnglish.projectsMenu.href}
      rel="noopener"
      class={LINKS_TO}
    >
      multidimensional figurate number</a
    > libraries with over <strong>26,000 downloads</strong>, as well as
    <a href="https://topos.live/#ziffers_tonnetz" target="_blank" rel="noopener" class={LINKS_TO}
      >ts-tonnetz</a
    >.
  </p>
  <p class="mb-4">
    I have published a
    <a
      href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
      target="_blank"
      class={LINKS_TO}
      rel="noopener"
    >
      Scopus-indexed article
    </a>
    in Mathematical Music Theory, serve as a <a
      id="cy-effective-orcid-url"
      class={LINKS_TO}
      href="https://orcid.org/0000-0002-9672-9087"
      target="orcid.widget"
      rel="me noopener noreferrer"
      style="vertical-align: top"
    >
      peer reviewer</a
    > for The European Physical Journal Special Topics, contribute to international open-source projects,
    and teach postgraduate courses.
  </p>
</section>
