---
import { menuEnglish } from "./SideBar.astro";
export const linksTo = "text-primary underline  hover:decoration-2";
---

<section class="leading-relaxed mb-8">
  <p class="mb-4 break-words hyphens-auto">
    I develop creative systems at the nexus of mathematics, computation, and music.
  </p>
  <p class="mb-4">
    I am currently building <a
      href="https://rubygems.org/gems/modular_forms"
      target="_blank"
      rel="noopener"
      class={linksTo}
    >
      modular forms</a
    >, inspired by SageMath and LMFDB, and <a
      href="https://topos.live/#ziffers_tonnetz"
      target="_blank"
      rel="noopener"
      class={linksTo}
    >
      ts-tonnetz</a
    >, two packages for real-time algorithmic composition. In addition, my libraries for generating <a
      id="projects"
      href={menuEnglish.projectsMenu.href}
      target="_blank"
      rel="noopener"
      class={linksTo}
    >
      multidimensional figurate numbers</a
    >
    have surpassed <strong>17,000 downloads</strong>.
  </p>
  <p class="mb-4">
    I have published an
    <a
      href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
      target="_blank"
      class={linksTo}
      rel="noopener"
    >
      article indexed in Scopus
    </a>
    on Mathematical Music Theory, contribute to international open-source projects, and teach at the
    postgraduate level.
  </p>
</section>
