---
const { title, img, desc, url, badge, pubDate, tags, target = "_blank" } = Astro.props;
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

// PubDATE from md files
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
---

<a
  href={url}
  target={target}
  class="group flex border border-base-content/10 p-4 my-10 rounded-md mx-auto min-h-44 flex-col transition-colors duration-150 ease-in-out hover:border-primary/20"
>
  <div class="flex items-start justify-between">
    <h2 class="text-lg font-semibold group-hover:text-primary line-clamp-1">
      {title}
    </h2>

    <span class="text-xs text-primary/60 shrink-0">
      {badge}
    </span>
  </div>

  <time class="text-sm mt-1 text-base-content/60">
    {displayDate}
  </time>

  <p class="text-sm mt-3 text-base-content/80 line-clamp-3">
    {desc}
  </p>
</a>
