---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
import dayjs from "dayjs";
---

<div
  class="rounded-lg bg-base-100 hover:bg-base-300 transition ease-in-out shadow-sm shadow-primary/50"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        {
          badge && (
            <div class="badge badge-sm badge-secondary mx-0 mb-3 p-2 rounded-md">{badge}</div>
          )
        }
        <h1 class="text-1xl font-bold flex flex-col">
          # {title}
        </h1>
        <p class="py-1 text-md">{desc}</p>
        <div class="card-actions justify-start mt-4">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge badge-outline badge-sm  rounded-md p-3 ">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
