---
const {
  title,
  img,
  desc,
  url,
  badge,
  pubDate,
  tags,
  target = "_blank",
} = Astro.props;
// const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

// PubDATE from md files
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { CARD_OP, GET_COLORS_METADATA } from "@styles/utilsCSS";
---

<a
  href={url}
  target={target}
  class="group flex border border-base-content/10 p-4 my-6 rounded-md mx-auto md:min-h-40 flex-col transition-colors duration-150 ease-in-out hover:border-primary/20"
>
  <div class="flex items-center gap-2">
    <span class={CARD_OP.muteData}>{displayDate}</span>
    <span class={CARD_OP.muteData}>·</span>

    <!-- <span class="text-base-content/60 text-sm font-medium">{badge}</span> -->
    <span class={GET_COLORS_METADATA(badge)}>
      {badge}
    </span>
  </div>

  <h2
    class=`mt-1 ${CARD_OP.title} group-hover:text-primary line-clamp-2 md:line-clamp-none `
  >
    {title}
  </h2>

  <p class=`mt-2 ${CARD_OP.parr} md:line-clamp-none line-clamp-2`>
    {desc}
  </p>
</a>
