---
import { transitionMenu } from "./SideBarMenu.astro";

const currentLang = Astro.url.pathname.startsWith("/es") ? "es" : "en";
export const spanishFlag = "fi fi-es fis";
export const englishFlag = "fi fi-gb fis";

const btnsNavBar = `
  flex items-center gap-2
  text-secondary-content
  hover:text-primary
  no-underline
  ${transitionMenu}
`;
const glassEffect = "bg-base-100/50 backdrop-blur";
---

<div class=`sticky xl:hidden top-0 z-30 w-full ${glassEffect}`>
  <div class="navbar w-full flex items-center justify-between md:px-5 sm:px-3 px-6">
    <!-- LEFT -->
    <div class="navbar-start flex items-center">
      <label
        for="my-drawer"
        class={`flex items-center gap-2 text-secondary-content hover:text-primary cursor-pointer no-underline ${transitionMenu}`}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          width="16"
          height="20"
          viewBox="0 0 16 20"
          class="stroke-current"
        >
          <path
            stroke-linecap="square"
            stroke-linejoin="round"
            stroke-width="2.2"
            d="M0 4h15M0 10h15M0 16h15"></path>
        </svg>

        <span>
          {currentLang == "es" ? "Menú" : "Menu"}
        </span>
      </label>
    </div>

    <!-- RIGHT -->
    <div class="navbar-end flex items-center">
      {
        currentLang === "es" ? (
          <a class={btnsNavBar} href="/" title="Switch to English" aria-label="Switch to English">
            <span class={`${englishFlag} w-5 h-5 shrink-0`} />
            ENG
          </a>
        ) : (
          <a class={btnsNavBar} href="/es" title="Cambiar a Español" aria-label="Cambiar a Español">
            <span class={`${spanishFlag} w-5 h-5 shrink-0`} />
            ESP
          </a>
        )
      }
    </div>
  </div>
</div>
<!-- PC VIEW -->
<div class=`hidden xl:flex gap-x-8 flex-wrap justify-center sticky top-0 z-30 ${glassEffect}`>
  <a class=`${btnsNavBar} my-2 py-2` href="/" title="English">
    <span class={`${englishFlag}`}> </span>
    English
  </a>
  <a class=`${btnsNavBar} my-2 py-2` href="/es" title="Español">
    <span class={`${spanishFlag}`}> </span>
    Español
  </a>
</div>
