---
const currentLang = Astro.url.pathname.startsWith("/en") ? "en" : "es"
const currentURL = Astro.url.pathname
import { spanishFlag, englishFlag } from "./Languages.astro"
import { switchTheme } from "./switchTheme"
import ButtonLightDark from "./icons/ButtonLightDark.astro"
---

<div
  class="sticky lg:hidden top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-200 text-base-content shadow-sm mb-[-1rem] flex-wrap"
>
  <div class="navbar w-full">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-7 h-7 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="navbar-center">
      {
        currentLang === "es" ? (
          <a class="btn btn-ghost normal-case text-xl" href={currentURL}>
            Edgar Delgado Vega <ButtonLightDark />
            <div class="hidden">{switchTheme}</div>
          </a>
        ) : (
          <a class="btn btn-ghost normal-case text-xl" href={currentURL}>
            Edgar Delgado Vega <ButtonLightDark />
            <div class="hidden">{switchTheme}</div>
          </a>
        )
      }
    </div>

    <div class="navbar-end">
      {
        currentLang === "es" ? (
          <a class="mr-3 ml-4" href="/en" title="English">
            <span class={`btn btn-square btn-ghost ${englishFlag} w-7`} />
          </a>
        ) : (
          <a class="mr-3 ml-4" href="/" title="Español">
            <span class={`btn btn-square btn-ghost ${spanishFlag} w-7`} />
          </a>
        )
      }
    </div>
  </div>
</div>
