---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

export type ProjectType = {
  title: string;
  img: ImageMetadata | string;
  desc: string;
  url: string;
  badge: string;
};
---

<div
  class="group rounded-md transition duration-200 border border-base-content/10 ease-in-out hover:border-primary/20"
>
  <a href={url} target={target} rel="noopener">
    <div class="hero-content flex-col md:flex-row p-4">
      <div class="grow w-full">
        <span class="truncate text-xs opacity-60">{badge}</span>
        <h1 class="text-lg font-semibold mt-1 group-hover:text-primary">
          {title}
        </h1>

        <p class="text-sm text-balance py-1 opacity-80">{desc}</p>
      </div>
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
    </div>
  </a>
</div>
