---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

export type ProjectType = {
  title: string;
  img: string;
  desc: string;
  url: string;
  badge: string;
};
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[98%]"
  data-tip="Projects"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row rounded-lg shadow-lg shadow-primary/30">
      <div class="grow w-full">
        {badge && <div class="badge badge-secondary mx-[-0.25rem]">{badge}</div>}
        <h1 class="text-lg font-bold pt-2">
          {title}
        </h1>
        <p class="text-pretty py-1 text-1xl">{desc}</p>
        {
          tags &&
            tags.map((tag: string) => (
              <a href={`${tag_url}/${tag}`} class="justify-start badge badge-outline mr-2">
                {tag}
              </a>
            ))
        }
        <!-- <div class="card-actions justify-end"></div> -->
      </div>
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
    </div>
  </a>
</div>
