---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

export type ProjectType = {
  title: string;
  img: ImageMetadata | string;
  desc: string;
  url: string;
  badge: string;
};
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[98%]">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row rounded-lg shadow-md shadow-primary/30">
      <div class="grow w-full">
        <h1 class="text-lg font-bold">
          {badge && <div class="badge badge-primary mr-2">{badge}</div>}
          {title}
        </h1>
        <p class="text-pretty py-1 text-1xl">{desc}</p>
      </div>
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
    </div>
  </a>
</div>
