---
import LinkedIn from "@icons/LinkedIn.astro";
import Youtube from "@icons/Youtube.astro";
import GitHub from "@icons/GitHub.astro";
import { SOCIAL_MEDIA } from "../config";

export interface Props {
  contactText?: string;
  linkedin: string;
  github: string;
  youtube: string;
}
const { contactText, linkedin, github, youtube } = Astro.props;
---

<div class="mt-8 mb-10 flex justify-start gap-4 flex-wrap">
  <a
    id="linkedin-btn"
    class="btn hover:bg-neutral outline outline-1 outline-black rounded-lg"
    href={SOCIAL_MEDIA.linkedin}
    target="
    _blank"
  >
    <LinkedIn class="w-6" />
    {contactText}
    <span style="border:1px solid #333; padding:2px 6px; border-radius:3px;">{linkedin}</span>
  </a>
  <a
    id="github-btn"
    class="btn shadow-md shadow-primary/20 rounded-lg"
    href={SOCIAL_MEDIA.github}
    target="_blank"
  >
    <GitHub class="w-6" />
    GitHub
    <span style="border:1px solid #333; padding:2px 6px; border-radius:3px; ">{github}</span>
  </a>
  <!-- <a
    id="youtube-btn"
    class="btn btm-nav-xs hover:scale-95"
    href={SOCIAL_MEDIA.youtube}
    target="_blank"
  >
    <Youtube class="w-6" /> YouTube
    <span style="border:1px solid #333; padding:2px 6px; border-radius:3px; ">{youtube}</span>
  </a> -->
</div>

<script is:inline>
  const keyToBtnId = {
    l: "linkedin-btn",
    g: "github-btn",
    y: "youtube-btn",
  };

  window.addEventListener("keydown", (e) => {
    const tag = document.activeElement?.tagName.toLowerCase();
    if (tag === "input" || tag === "textarea") return;

    const key = e.key.toLowerCase();
    const btnId = keyToBtnId[key];

    if (btnId) {
      const btn = document.getElementById(btnId);
      if (btn) {
        btn.click();
      }
    }
  });
</script>
