---
import GitHub from "@icons/GitHub.astro";
// import Instagram from "@icons/Instagram.astro"
import LinkedIn from "@icons/LinkedIn.astro";
import Youtube from "@icons/Youtube.astro";
import { SOCIAL_MEDIA } from "src/config";
const cssIconsClass = "mx-3 hover:scale-105 transition ease-in-out delay-50";
---

<a
  href={SOCIAL_MEDIA.linkedin}
  target="_blank"
  title="LinkedIn"
  class={cssIconsClass}
  aria-label="LinkedIn"
>
  <LinkedIn />
</a>

<a
  href={SOCIAL_MEDIA.github}
  target="_blank"
  title="GitHub"
  class={cssIconsClass}
  aria-label="GitHub"
>
  <GitHub />
</a>

<a
  href={SOCIAL_MEDIA.youtube}
  title="Youtube"
  target="_blank"
  class={cssIconsClass}
  aria-label="Youtube"
>
  <Youtube />
</a>

<!-- <a
  href={SOCIAL_MEDIA.instagram}
  target="_blank"
  title="Instagram"
  class={cssIconsClass}
  aria-label="Instagram"
>
  <Instagram /> -->
