---
import LinkedIn from "@icons/LinkedIn.astro";
import Youtube from "@icons/Youtube.astro";
import GitHub from "@icons/GitHub.astro";
import QR from "@icons/QR.astro";
import { SOCIAL_MEDIA } from "../config";

export interface Props {
  contactText?: string;
  linkedin: string;
  github: string;
  youtube: string;
}
const { contactText, linkedin, github, youtube } = Astro.props;
const aLinkBorder = `
    flex items-center justify-center gap-x-2
    h-12 px-3
    rounded-md
    border border-base-content/10
    text-sm font-normal
    transition-colors duration-150
    w-36
    hover:border-primary/20 hover:text-primary
    no-underline
`;
---

<div class="my-12 flex justify-start gap-x-6 gap-y-4 flex-wrap items-center">
  <a id="linkedin-btn" class={aLinkBorder} href={SOCIAL_MEDIA.linkedin} target="
    _blank">
    <LinkedIn class="w-5" />
    {contactText}
    <kbd class="kbd kbd-lg bg-base-100">L</kbd>
  </a>
  <a id="github-btn" class={aLinkBorder} href={SOCIAL_MEDIA.github} target="_blank">
    <GitHub class="w-5" />
    GitHub
    <kbd class="kbd kbd-lg bg-base-100">G</kbd>
  </a>

  <a id="youtube-btn" class={aLinkBorder} href={SOCIAL_MEDIA.youtube} target="_blank">
    <Youtube class="w-5" />
    YouTube
    <kbd class="kbd kbd-lg bg-base-100">Y</kbd>
  </a>

  <!-- START-QR  -->
  <label for="qr-modal" class={aLinkBorder}>
    <QR class="w-6 bg-white rounded-xs" alt="qr code" />
    See QR
    <kbd class="kbd kbd-lg bg-base-100">Q</kbd>
  </label>

  <input type="checkbox" id="qr-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box relative">
      <h2 class="text-xl font-semibold">QR Code</h2>

      <img
        class="mx-auto rounded-md m-8 border border-base-content/20"
        src="https://api.qrserver.com/v1/create-qr-code/?format=svg&size=200x200&color=000000&bgcolor=ffffff&data=https%3A%2F%2Fedelveart.github.io%2F&qzone=1&margin=4&ecc=L"
        alt="qr code"
      />
      <p class="mt-4 text-center">
        Visit my web: <br />
        <a href="https://edelveart.github.io/" target="_blank" class="underline text-primary mt-2"
          >https://edelveart.github.io/</a
        >
      </p>
      <label
        for="qr-modal"
        class="border border-base-content/20 px-3 py-1 absolute right-2 top-2 text-2xl rounded-md hover:shadow-sm hover:shadow-primary/20"
        >✕</label
      >
    </div>
  </div>
  <!-- END-QR  -->
</div>

<script is:inline>
  const keyToBtnId = {
    l: "linkedin-btn",
    g: "github-btn",
    y: "youtube-btn",
    q: "qr-modal",
  };

  window.addEventListener("keydown", (e) => {
    const tag = document.activeElement?.tagName.toLowerCase();
    if (tag === "input" || tag === "textarea") return;

    const key = e.key.toLowerCase();
    const btnId = keyToBtnId[key];

    if (btnId) {
      const btn = document.getElementById(btnId);
      if (btn) {
        btn.click();
      }
    }
  });
</script>
