---
import LinkedIn from "@icons/LinkedIn.astro";
import Youtube from "@icons/Youtube.astro";
import GitHub from "@icons/GitHub.astro";
import { SOCIAL_MEDIA } from "../config";

export interface Props {
  contactText?: string;
  linkedin: string;
  github: string;
  youtube: string;
}
const { contactText, linkedin, github, youtube } = Astro.props;
const aLinkBorder = `btn bg-inherit shadow-sm shadow-primary/15 hover:shadow-primary/40 rounded-lg py-6 px-0 w-32 flex items-center justify-center gap-x-1.5 flex-grow transition duration-150 ease-in-out`;
---

<div class="my-12 flex justify-start gap-6 flex-wrap items-center">
  <a
    id="linkedin-btn"
    class={aLinkBorder}
    href={SOCIAL_MEDIA.linkedin}
    target="
    _blank"
  >
    <LinkedIn class="w-6" />
    {contactText}
    <kbd class="kbd kbd-lg">L</kbd>
  </a>
  <a
    id="github-btn"
    class={aLinkBorder}
    href={SOCIAL_MEDIA.github}
    target="_blank"
  >
    <GitHub class="w-6" />
    GitHub
    <kbd class="kbd kbd-lg">G</kbd>
  </a>

  <a
    id="youtube-btn"
    class={aLinkBorder}
    href={SOCIAL_MEDIA.youtube}
    target="_blank"
  >
    <Youtube class="w-6" />
    YouTube
    <kbd class="kbd kbd-lg">Y</kbd>
  </a>

  <!-- START-QR  -->
  <label for="qr-modal" class={aLinkBorder}>
    <img class="w-6 rounded-sm" src="/qr-code.png" />
    See QR
    <kbd class="kbd kbd-lg">Q</kbd>
  </label>

  <input type="checkbox" id="qr-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box relative">
      <h2 class="text-xl font-semibold">QR Code</h2>

      <img
        class="mx-auto rounded-lg m-8 shadow shadow-primary/20"
        src="https://api.qrserver.com/v1/create-qr-code/?color=111111&bgcolor=899fe2&data=https%3A%2F%2Fedelveart.github.io%2F&qzone=1&margin=4&size=250x250&ecc=L"
        alt="qr code"
      />
      <p class="mt-4 text-center">
        Visit my web: <br />
        <a
          href="https://edelveart.github.io/"
          target="_blank"
          class="underline text-primary mt-2">https://edelveart.github.io/</a
        >
      </p>
      <label
        for="qr-modal"
        class="btn btn-md btn-ghost absolute right-2 top-2 text-2xl">✕</label
      >
    </div>
  </div>
  <!-- END-QR  -->
</div>

<script is:inline>
  const keyToBtnId = {
    l: "linkedin-btn",
    g: "github-btn",
    y: "youtube-btn",
    q: "qr-modal",
  };

  window.addEventListener("keydown", (e) => {
    const tag = document.activeElement?.tagName.toLowerCase();
    if (tag === "input" || tag === "textarea") return;

    const key = e.key.toLowerCase();
    const btnId = keyToBtnId[key];

    if (btnId) {
      const btn = document.getElementById(btnId);
      if (btn) {
        btn.click();
      }
    }
  });
</script>
