---
import Arrows from "@icons/Arrows.astro";
import { NAV_LINKS_PAGES } from "@styles/utilsCSS";
---

<div class="grid grid-cols-1 gap-4 mt-5">
  <a class={`${NAV_LINKS_PAGES.aLink} ${NAV_LINKS_PAGES.nextRight}`} href={"/blog/"}>
    <div class="text-right">
      <div class={NAV_LINKS_PAGES.prevNext}>OLDER</div>

      <div class={NAV_LINKS_PAGES.pageTitle}> Explore notes </div>
    </div>

    <span class={NAV_LINKS_PAGES.arrowSpan}>
      <Arrows direction="right" />
    </span>
  </a>
</div>
