---
const { img, url, badge, target = "_blank" } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export type ProjectType = {
  img: ImageMetadata | string;
  url: string;
  badge: string;
};
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:bg-base-200">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row rounded-lg shadow-sm shadow-primary/50 p-0">
      <div class="m-2">
        {badge && <p class="badge badge-primary break-words sm:text-xs px-2 mt-0">{badge}</p>}

        {
          img && (
            <Image
              src={img}
              width={750}
              height={422}
              format="webp"
              alt={badge}
              class="rounded-lg mt-2 w-full"
            />
          )
        }
      </div>
    </div>
  </a>
</div>
