---
import Home from "./icons/Home.astro";
import Branch from "./icons/Branch.astro";
import Curriculum from "./icons/Curriculum.astro";
import PencilEducation from "./icons/PencilEducation.astro";

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
export const sideMenuCss = {
  divCss: "py-3  md:justify-start",
  spanText: "text-xl md:text-sm",
};
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <strong class="flex justify-center mb-5 text-2xl md:text-base"
    >Edgar Delgado Vega</strong
  >
  <li>
    <!-- <a class="py-3 text-base" id="home" href="/" -->
    <a class=`${sideMenuCss.divCss}` id="home" href="/"
      ><Home />
      <span class=`${sideMenuCss.spanText}`>Inicio</span>
    </a>
  </li>
  <li>
    <a class=`${sideMenuCss.divCss}` id="projects" href="/projects"
      ><Branch />

      <span class=`${sideMenuCss.spanText}`>Proyectos de software</span>
    </a>
  </li>
  <li>
    <a class=`${sideMenuCss.divCss}` id="cv" href="/cv">
      <Curriculum />
      <span class=`${sideMenuCss.spanText}`>Curriculum Vitae</span>
    </a>
  </li>
  <li>
    <a class=`${sideMenuCss.divCss}` id="blog" href="/blog">
      <PencilEducation />
      <span class=`${sideMenuCss.spanText}`>Blog</span>
    </a>
  </li>
  <li>
    <!-- <a class="py-3 text-base" id="writings" href="/"><PencilEducation /> -->
    <!-- <span class="ml-[6px]">  Educación</span> -->
    <!-- </a> -->
    <!-- </li> -->
    <!-- <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li> -->
    <!-- <li><a class="py-3 text-base" id="services" href="/services">Services</a></li> -->
    <!-- <li><a class="py-3 text-base" id="store" href="/store">Store</a></li> -->
    <!-- <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li> -->
    <!-- <li><a class="py-3 text-base" id="cv" href="/cv">CV</a></li> -->
    <!-- <li>
        <a
            class="py-3 text-base"
            href="mailto:"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li> -->
  </li>

  <script
    define:vars={{
      sideBarActiveItemID: sideBarActiveItemID,
      activeClass: activeClass,
    }}
  >
    const activeItemElem = document.getElementById(sideBarActiveItemID);
    activeItemElem && activeItemElem.classList.add(activeClass);
  </script>
</ul>
