---
import Home from "@icons/Home.astro";
import Branch from "@icons/Branch.astro";
import Curriculum from "@icons/Curriculum.astro";
import Writing from "@icons/Writing.astro";
import LinkIconsGroup from "./LinkIconsGroup.astro";
import Skills from "@icons/Skills.astro";

type Props = {
  homeMenu: string;
  hrefHome: string;
  cvMenu: string;
  hrefCV: string;
  projectsMenu: string;
  hrefProjects: string;
  resourcesMenu: string;
  hrefResources: string;
  notesMenu: string;
  hrefNotes: string;
  figurateMenu: string;
  hrefFigurate: string;
};

const {
  homeMenu,
  hrefHome,
  cvMenu,
  hrefCV,
  projectsMenu,
  hrefProjects,
  resourcesMenu,
  hrefResources,
  notesMenu,
  hrefNotes,
  figurateMenu,
  hrefFigurate,
} = Astro.props;

// REPLACE SIDEBARIDACTIVEITEM
import { getCollection } from "astro:content";
import createSlug from "@ts-config-path/lib/createSlug";
import { isSamePath, isSectionActive } from "@ts-config-path/lib/routes";

const current = Astro.url.pathname;
const figuratePosts = await getCollection("figurate");
const sortedFigurate = figuratePosts.sort(
  (a, b) => a.data.order - b.data.order,
);

const figurateLinks = sortedFigurate.map((post) => {
  const href = "/figuratenum/" + createSlug(post.data.title, post.id);
  return {
    title: post.data.title,
    href,
    active: isSamePath(current, href),
  };
});

export const activePage = "bg-base-300";
export const sideMenuCss = {
  divCss:
    "min-h-12 px-3 flex items-center gap-4 w-full rounded-md hover:bg-base-300 transition",
  spanText: "text-base leading-none",
  iconBox: "w-8 h-8 flex items-center justify-center shrink-0",
};
---

<!-- <strong class="flex justify-center mb-5 text-sm">Edgar Delgado</strong> -->
<div class="flex flex-col w-full h-full mb-5">
  <ul class="menu w-full h-full flex-1 flex flex-col">
    <li>
      <a
        class={`${sideMenuCss.divCss} ${isSectionActive(current, hrefHome) ? activePage : ""}`}
        href={hrefHome}
      >
        <span class={sideMenuCss.iconBox}>
          <Home class="w-8 h-8" />
        </span>
        <span class={sideMenuCss.spanText}>{homeMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${isSectionActive(current, hrefCV) ? activePage : ""}`}
        href={hrefCV}
      >
        <span class={sideMenuCss.iconBox}>
          <Curriculum class="w-[23px] h-[23px]" />
        </span>
        <span class={sideMenuCss.spanText}>{cvMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${isSectionActive(current, hrefProjects) ? activePage : ""}`}
        href={hrefProjects}
      >
        <span class={sideMenuCss.iconBox}>
          <Branch class="w-7 h-7" />
        </span>
        <span class={sideMenuCss.spanText}>{projectsMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${isSectionActive(current, hrefResources) ? activePage : ""}`}
        href={hrefResources}
      >
        <span class={sideMenuCss.iconBox}>
          <Writing class="w-[24px] h-[24px]" />
        </span>
        <span class={sideMenuCss.spanText}>{resourcesMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${isSectionActive(current, hrefNotes) ? activePage : ""}`}
        href={hrefNotes}
      >
        <span class={sideMenuCss.iconBox}>
          <Skills class="w-[23px] h-[23px]" />
        </span>
        <span class={sideMenuCss.spanText}>{notesMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${isSectionActive(current, hrefFigurate) ? activePage : ""}`}
        href={hrefFigurate}
      >
        <span class={sideMenuCss.iconBox}>
          <img
            src="/svg-ggb/ico-figuratenum.png"
            alt="FigurateNumber - ICO"
            class="w-7 h-7"
          />
        </span>
        <span class={sideMenuCss.spanText}>{figurateMenu}</span>
      </a>
    </li>

    <!-- CONDITIONAL SUBMENU OF DOCS -->
    {
      isSectionActive(current, "/figuratenum") && (
        <ul class="ml-4 mt-2 space-y-1">
          {figurateLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class={`flex text-sm items-center min-h-11 max-h-11 rounded-md hover:bg-base-300
                    ${link.active ? "text-primary font-bold" : "opacity-80"}`}
              >
                <span class="min-w-0 flex-1 truncate whitespace-nowrap text-sm">
                  {link.title}
                </span>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </ul>
</div>

<footer
  class="footer footer-center flex justify-center items-center pt-0 mt-auto mb-6"
>
  <LinkIconsGroup />
</footer>

<script is:inline>
  const KEY = "sidebar-scroll";

  function getDrawer() {
    return document.querySelector(".drawer-side");
  }

  document.addEventListener("astro:page-load", () => {
    const el = getDrawer();
    if (!el) return;

    const saved = sessionStorage.getItem(KEY);
    if (saved) el.scrollTop = Number(saved);

    el.addEventListener("scroll", () => {
      sessionStorage.setItem(KEY, el.scrollTop);
    });
  });
</script>
