---
import SideBarMenu from "@components/SideBarMenu.astro";
import PhotoProfile from "@components/img-components/PhotoProfile.astro";
import LinkIconsGroup from "@components/LinkIconsGroup.astro";

export const menuEnglish = {
  homeMenu: {
    text: "Home",
    href: "/",
  },
  projectsMenu: {
    text: "Software",
    href: "/projects/",
  },
  cvMenu: {
    text: "About me",
    href: "/about/",
  },
  resourcesMenu: {
    text: "Resources",
    href: "/resources/",
  },
  notesMenu: {
    text: "Notes",
    href: "/blog/",
  },
  figurateMenu: {
    text: "FigurateNum",
    href: "/figuratenum/",
  },
};
---

<div class="drawer-side z-40" id="sidebar-scroll-container">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-full min-h-full w-72 max-w-72 bg-base-100 flex flex-col">
    <div class="w-fit mx-auto mt-12 mb-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-32">
            <PhotoProfile />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu
      homeMenu={menuEnglish.homeMenu.text}
      hrefHome={menuEnglish.homeMenu.href}
      cvMenu={menuEnglish.cvMenu.text}
      hrefCV={menuEnglish.cvMenu.href}
      projectsMenu={menuEnglish.projectsMenu.text}
      hrefProjects={menuEnglish.projectsMenu.href}
      resourcesMenu={menuEnglish.resourcesMenu.text}
      hrefResources={menuEnglish.resourcesMenu.href}
      notesMenu={menuEnglish.notesMenu.text}
      hrefNotes={menuEnglish.notesMenu.href}
      figurateMenu={menuEnglish.figurateMenu.text}
      hrefFigurate={menuEnglish.figurateMenu.href}
    />
    <footer
      class="footer footer-center flex justify-center-safe gap-x-1 items-center pt-0 mt-auto mb-6"
    >
      <LinkIconsGroup />
    </footer>
  </aside>
</div>
