---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
import PhotoProfile from "./PhotoProfile.astro";
const { sideBarActiveItemID } = Astro.props;

export const menuSpanish = {
  homeMenu: {
    text: "Inicio",
    href: "/",
  },
  projectsMenu: {
    text: "Proyectos",
    href: "/projects",
  },
  cvMenu: {
    text: "Curriculum Vitae",
    href: "/cv",
  },
};
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside
    class="px-2 pt-2 h-auto min-h-full w-full md:w-[19rem] bg-base-200 text-base-content flex flex-col"
  >
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-28">
            <PhotoProfile />
          </div>
        </div>
      </a>
    </div>

    <SideBarMenu
      homeMenu={menuSpanish.homeMenu.text}
      projectsMenu={menuSpanish.projectsMenu.text}
      cvMenu={menuSpanish.cvMenu.text}
      hrefHome={menuSpanish.homeMenu.href}
      hrefProjects={menuSpanish.projectsMenu.href}
      hrefCV={menuSpanish.cvMenu.href}
      sideBarActiveItemID={sideBarActiveItemID}
    />
    <SideBarFooter />
  </aside>
</div>
