---
import Home from "@icons/Home.astro";
import Branch from "@icons/Branch.astro";
import Curriculum from "@icons/Curriculum.astro";
import Writing from "@icons/Writing.astro";
import Skill from "@icons/Skills.astro";
import LinkIconsGroup from "./LinkIconsGroup.astro";

type Props = {
  homeMenu: string;
  hrefHome: string;
  cvMenu: string;
  hrefCV: string;
  projectsMenu: string;
  hrefProjects: string;
  resourcesMenu: string;
  hrefResources: string;
  notesMenu: string;
  hrefNotes: string;
};

const {
  homeMenu,
  hrefHome,
  cvMenu,
  hrefCV,
  projectsMenu,
  hrefProjects,
  resourcesMenu,
  hrefResources,
  notesMenu,
  hrefNotes,
} = Astro.props;

export const sideMenuCss = {
  divCss: "py-3 flex items-center justify-start w-full",
  spanText: "text-base ml-2",
};

const activePage = "bg-base-300";
const pathname = new URL(Astro.request.url).pathname;
---

<div class="flex flex-col w-full h-full mb-5">
  <strong class="flex justify-center mb-5 text-lg">Edgar Delgado</strong>
  <ul class="menu w-full h-full flex-1 flex flex-col overflow-y-auto">
    <li>
      <a class={`${sideMenuCss.divCss} ${pathname === hrefHome ? activePage : ""}`} href={hrefHome}>
        <Home />
        <span class={sideMenuCss.spanText}>{homeMenu}</span>
      </a>
    </li>
    <li>
      <a class={`${sideMenuCss.divCss} ${pathname === hrefCV ? activePage : ""}`} href={hrefCV}>
        <Curriculum />
        <span class={sideMenuCss.spanText}>{cvMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${pathname === hrefProjects ? activePage : ""}`}
        href={hrefProjects}
      >
        <Branch />
        <span class={sideMenuCss.spanText}>{projectsMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${pathname === hrefResources ? activePage : ""}`}
        href={hrefResources}
      >
        <Writing />
        <span class={sideMenuCss.spanText}>{resourcesMenu}</span>
      </a>
    </li>
    <li>
      <a
        class={`${sideMenuCss.divCss} ${pathname === hrefNotes ? activePage : ""}`}
        id="NOTES_ACTIVE_PAGE"
        href={hrefNotes}
      >
        <Skill />
        <span class={sideMenuCss.spanText}>{notesMenu}</span>
      </a>
    </li>
  </ul>
</div>

<footer class="footer footer-center pt-0 mt-auto justify-center gap-0 mb-5">
  <LinkIconsGroup />
</footer>
