---
import SideBarMenu from "@components/SideBarMenu.astro";
import SideBarFooter from "@components/SideBarFooter.astro";
import PhotoProfile from "@components/PhotoProfile.astro";
const { sideBarActiveItemID } = Astro.props;

export const menuEnglish = {
  homeMenu: {
    text: "Home",
    href: "/en",
  },
  projectsMenu: {
    text: "Libraries",
    href: "/en/projects",
  },
  cvMenu: {
    text: "About",
    href: "/en/about",
  },
};
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-full md:w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/en">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-28">
            <PhotoProfile />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu
      homeMenu={menuEnglish.homeMenu.text}
      projectsMenu={menuEnglish.projectsMenu.text}
      cvMenu={menuEnglish.cvMenu.text}
      hrefHome={menuEnglish.homeMenu.href}
      hrefProjects={menuEnglish.projectsMenu.href}
      hrefCV={menuEnglish.cvMenu.href}
      sideBarActiveItemID={sideBarActiveItemID}
    />
    <SideBarFooter />
  </aside>
</div>
