---
import BaseLayout from "@layouts/es/BaseLayout.astro";
import Biography from "@components/es/Biography.astro";
import IndexLinks from "@components/IndexLinks.astro";
import Experience, { allExperiences } from "@components/es/Experience.astro";
import { allProjects } from "@components/ProjectsComponent.astro";
import ModEcImg from "@components/img-components/ModEcImg.astro";
import ProjectsComponentIndex from "@components/ProjectsComponentIndex.astro";
import CardBlog from "@components/CardBlog.astro";
import createSlug from "@ts-config-path/lib/createSlug";
import { getCollection } from "astro:content";
// import { getCollection } from "astro:content";
// const posts = (await getCollection("blog")).sort(
//   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 5);
---

<BaseLayout title="Home">
  <ModEcImg />
  <section class="pb-3 mt-12">
    <h1 class="text-4xl font-bold leading-snug pt-0 flex text-neutral-300">
      Edgar Delgado
      <!-- <p class="ml-2 animate-bounce">👋</p> -->
    </h1>

    <h2 class="py-3 text-2xl font-bold text-content">
      Desarrollador de sistemas matemáticos y creativos
    </h2>

    <div class="py-2 mt-4">
      <Biography />
      <IndexLinks contactText="LinkedIn" linkedin="L" github="G" youtube="Y" />
    </div>

    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ProjectsComponentIndex
      headTitle={"Bibliotecas"}
      projects={allProjects}
      indices={[0, 1, 2, 3, 4, 5]}
    />
    <!-- BLOG-NOTES -->
    <h2 class="text-3xl w-full font-bold flex items-center mt-24">
      <!-- <Skills class="ml-0 mr-32" /> -->
      Blog
    </h2>
    {
      last_posts.map((post) => (
        <>
          {/* badge={post.data.badge} */}
          {/* tags={post.data.tags} */}
          <CardBlog
            pubDate={post.data.pubDate}
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
          />
        </>
      ))
    }
  </section>
</BaseLayout>
