---
import BaseLayout from "@layouts/es/BaseLayout.astro";
import Biography from "@components/es/Biography.astro";
import MainLinks from "@components/MainLinks.astro";
import Experience, { allExperiences } from "@components/es/Experience.astro";
import { allProjects } from "@components/ProjectsComponent.astro";
import ModEcImg from "@components/img-components/ModEcImg.astro";
import IndexOfProjects from "@components/IndexOfProjects.astro";
import CardBlog from "@components/CardBlog.astro";
import createSlug from "@ts-config-path/lib/createSlug";
import { getCollection } from "astro:content";
import PreviousPosts from "@components/PreviousPosts.astro";
// import { getCollection } from "astro:content";
// const posts = (await getCollection("blog")).sort(
//   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout title="Edgar Delgado Vega - Creative Math Systems Developer">
  <section class="mt-4">
    <h1 class="text-4xl font-black leading-snug pt-0 flex">Edgar Delgado</h1>
    <h2 class="py-3 text-2xl font-bold text-primary">
      Desarrollador de sistemas matemáticos creativos
    </h2>
    <ModEcImg />
    <div class="my-20">
      <Biography />
      <MainLinks contactText="LinkedIn" linkedin="L" github="G" youtube="Y" />
    </div>
    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <!-- <IndexOfProjects
      headTitle={"Bibliotecas"}
      projects={allProjects}
      indices={[0, 1, 2, 3, 4, 5]}
    /> -->
    <!-- BLOG-NOTES -->
    <h2 class="text-3xl w-full font-black flex items-center mt-16">Últimas entradas</h2>
    {
      last_posts.map((post) => (
        <>
          {/* badge={post.data.badge} */}
          {/* tags={post.data.tags} */}
          <CardBlog
            pubDate={post.data.pubDate}
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
          />
        </>
      ))
    }
    <PreviousPosts />
  </section>
</BaseLayout>
