---
import BaseLayout from "@layouts/es/BaseLayout.astro";
import Biography from "@components/es/Biography.astro";
import IndexLinks from "@components/IndexLinks.astro";
import Experience, { allExperiences } from "@components/es/Experience.astro";
import ProjectsComponent, { allProjects } from "@components/ProjectsComponent.astro";
import ModEcImg from "@components/ModEcImg.astro";

// import { getCollection } from "astro:content";
// const posts = (await getCollection("blog")).sort(
//   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
// );
---

<BaseLayout sideBarActiveItemID="home">
  <ModEcImg />
  <section class="pb-3 mt-5">
    <div class="text-4xl font-bold leading-snug pt-0 flex text-neutral-300">
      Edgar Delgado
      <!-- <p class="ml-2 animate-bounce">👋</p> -->
    </div>

    <div class="py-1 text-2xl font-semibold text-content">
      Desarrollador de software matemático | Sistemas creativos
    </div>

    <div class="py-2 mt-4">
      <Biography />
      <IndexLinks contactText="Contáctame" linkedin="L" github="G" youtube="Y" />
    </div>

    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ProjectsComponent headTitle={"Bibliotecas"} projects={allProjects} indices={[0, 1, 2]} />
    <div class="m-16"></div>
    <!-- <ListOfSkills title="Tecnologías" techSkills={techSkillsSpanish} indices={[0, 1]} /> -->
    <!--
    <div class="text-2xl w-full font-bold flex items-center my-6 ml-0">
      <Blog />Blog
    </div>
    {
      last_posts.map((post) => (
        <>
          <CardBlog
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
            badge={post.data.badge}
            tags={post.data.tags}
          />
          <div class="divider my-0" />
        </>
      ))
    } -->
  </section>
</BaseLayout>
