---
import "@fontsource-variable/inter";
// import "@fontsource/roboto";
// import "@fontsource-variable/overpass";
// import "@fontsource-variable/encode-sans";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
import FlagsLinkCss from "../components/FlagsLinkCss.astro";
import Languages from "@components/Languages.astro";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="night">
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/iconito.png" />
    <FlagsLinkCss />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100 flex flex-col">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[700px] max-w-[100vw]">
            <Languages />
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
