---
// import "@fontsource-variable/inter";
// import "@fontsource-variable/ibm-plex-sans";
// import "@fontsource-variable/rubik";
// import "@fontsource-variable/manrope";
// import "@fontsource-variable/space-grotesk";
// import "@fontsource-variable/ubuntu-sans";
import "@fontsource-variable/sora";
import "@fontsource-variable/jetbrains-mono";

import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SideBar from "@components/SideBar.astro"; // This must be different
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
import FlagsLinkCss from "@components/FlagsLinkCss.astro";
import Languages from "@components/Languages.astro";
const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    /> -->
    {TRANSITION_API && <ViewTransitions />}
    <FlagsLinkCss />

    <!-- CSS KaTeX -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
      integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP"
      crossorigin="anonymous"
    />
    <!-- JS - KaTeX AUTO-RENDER -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js"
      integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6"
      crossorigin="anonymous"></script>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js"
      integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100 flex flex-col">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[700px] max-w-[100vw]">
            <Languages />
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
