---
// import "@fontsource-variable/inter";
// import "@fontsource-variable/ibm-plex-sans";
// import "@fontsource-variable/rubik";
// import "@fontsource-variable/manrope";
// import "@fontsource-variable/space-grotesk";
// import "@fontsource-variable/ubuntu-sans";
// Supports weights 100-800
import "@fontsource-variable/sora";

import "@fontsource-variable/jetbrains-mono"; // Normal
import "@fontsource-variable/jetbrains-mono/wght-italic.css"; // Italic
import "../styles/global.css";

//////
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SideBar from "@components/SideBar.astro"; // This must be different
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";
const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {TRANSITION_API && <ViewTransitions />}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100 flex flex-col">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-5 sm:p-6 md:p-8 mt-4 lg:max-w-[700px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
