---
import { BORDER_INFO, META_BADGE_TAGS, CARD_OP } from "@styles/utilsCSS";
import { type BlogSchema } from "../content.config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, badge, heroImage, tags = [] } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
---

<BaseLayout title={title} description={description} ogType="article">
  <main>
    <article class="prose prose-img:mx-auto">
      <h1 class="title mt-5 text-3xl font-bold break-normal mb-2 text-primary">
        {title}
      </h1>

      <div class="flex flex-col md:flex-row md:items-start md:gap-2">
        <div class="flex items-center gap-2">
          {pubDate && <time class="whitespace-nowrap text-neutral-content">{displayDate}</time>}

          <span class="text-base-content/60 hidden md:inline">·</span>

          <span class={META_BADGE_TAGS.badge}>
            {badge}
          </span>
        </div>

        {
          updatedDate && (
            <div class="flex items-center gap-2">
              <span class="text-base-content/60 ">⟳</span>

              <span class={`${CARD_OP.muteData} whitespace-nowrap`}>
                Updated {dayjs(updatedDate).format("ll")}
              </span>
            </div>
          )
        }
      </div>

      <div class=`${BORDER_INFO} mt-4 mb-10`>
        <div class="flex flex-wrap gap-2">
          {
            tags?.map((tag) => (
              <a href={`/blog/tag/${tag}`} class={META_BADGE_TAGS.tags}>
                {tag}
              </a>
            ))
          }
        </div>
      </div>

      <div class="prose-table:overflow-x-auto prose-table:block break-normal">
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
