---
import { type BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, badge, tags = [] } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
---

<BaseLayout title={title} description={description} ogType="article">
  <!-- KaTeX VIA:  remarkPlugins: [remarkMath],   rehypePlugins: [rehypeKatex] -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
    integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP"
    crossorigin="anonymous"
  />

  <main class="px-0 sm:px-4 md:px-0 my-[-0.25rem] flex justify-center mb-10">
    <article class="prose prose-img:mx-auto w-full max-w-[90vw] sm:max-w-[70vw] lg:max-w-[700px]">
      <!-- <article class="prose prose-img:mx-auto lg:max-w-[625px] sm:max-w-[70vw]"> -->
      <!-- {
        heroImage && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={heroImage}
            alt={title}
            class="w-full mb-6"
          />
        )
      } -->
      <div class="mt-6">
        {pubDate && <time class="text-xl">{displayDate}</time>}
      </div>
      <h1 class="title my-6 text-3xl font-bold break-words"># {title}</h1>
      <div class="border-l-4 border-secondary pl-4 py-2">
        <div class="gap-2 flex flex-wrap mt-2">
          {badge && <div class=" badge badge-secondary rounded-3xl p-3 mb-2">{badge}</div>}
          {
            tags &&
              tags.map((tag) => (
                <a
                  href={`/blog/tag/${tag}`}
                  class="badge badge-outline badge-sm text-sm rounded-md p-3 hover:badge-secondary ease-in-out duration-200 hover:bg-inherit no-underline"
                >
                  {tag}
                </a>
              ))
          }
          {
            updatedDate && (
              <div class="">
                {" "}
                Last updated on <time>{updatedDate}</time>{" "}
              </div>
            )
          }
        </div>
      </div>

      <slot />
    </article>
  </main>
</BaseLayout>
